<template>
  <div v-observe-visibility="visibilityChanged">
      <div class="recommended-box">
        <div class="recommended-col">
          <div
            class="relative mb10"
            :class="[{ sale: labelsActive && isOnSale }, { new: labelsActive && isNew }]"
          >
            <product-image
              class="product-cover__thumb"
              :image="thumbnailObj"
              :alt="product.name | htmlDecode"
              :calc-ratio="false"
              data-testid="productImage"
            />
            <router-link
              class="button button-outline mdl bg-cl-transparent"
              :to="productLink"
              data-testid="productLink"
            >Quick View
            </router-link>
          </div>
          <div class="recommended-text">
            <div class="flex recommended-color flex">
                <div class="recommended-color-code flex">
                  <a href="" class="recommended-color-label color-cod1"></a>
                  <a href="" class="recommended-color-label color-cod2"></a>
                </div>
              <span class="Wishlist-icon ml-auto" data-v-09490821=""> <AddToWishlist :product="product"><a href="" 
              :class="{'product__icon--active': isOnWishlist }"
              :title="isOnWishlist ? $t('Remove') : $t('Add to favorite') "><img src="/assets/Wishlist.svg" data-v-09490821=""></a></AddToWishlist></span>
            </div>
            <p class="" v-if="!onlyImage">
              {{ product.name | htmlDecode }}
            </p>
            <div class="flex">
            <label
              class="recommended-price"
              v-if="product.special_price && parseFloat(product.original_price_incl_tax) > 0 && !onlyImage"
            >{{ product.original_price_incl_tax | price(storeView) }}</label>

            <label
              class="recommended-price"
              v-if="product.special_price && parseFloat(product.special_price) > 0 && !onlyImage"
            >{{ product.price_incl_tax | price(storeView) }}</label>

            <label
              class="recommended-price"
              v-if="!product.special_price && parseFloat(product.price_incl_tax) > 0 && !onlyImage"
            >{{ product.price_incl_tax | price(storeView) }}</label>
            <span class="recommended-price-old">$60.00</span>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import rootStore from '@vue-storefront/core/store'
import { ProductTile } from '@vue-storefront/core/modules/catalog/components/ProductTile.ts'
import config from 'config'
import ProductImage from './ProductImage'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import AddToCompare from 'theme/components/core/blocks/Compare/AddToCompare'
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { IsOnCompare } from '@vue-storefront/core/modules/compare/components/IsOnCompare'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  mixins: [ProductTile, IsOnWishlist, IsOnCompare],
  components: {
    ProductImage,
    AddToWishlist,
    AddToCompare
  },
  props: {
    labelsActive: {
      type: Boolean,
      default: true
    },
    onlyImage: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    thumbnailObj () {
      return {
        src: this.thumbnail,
        loading: this.thumbnail
      }
    },
    favoriteIcon () {
      return this.isOnWishlist ? 'favorite' : 'favorite_border'
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    onProductPriceUpdate (product) {
      if (product.sku === this.product.sku) {
        Object.assign(this.product, product)
      }
    },
    visibilityChanged (isVisible, entry) {
      if (
        isVisible &&
        config.products.configurableChildrenStockPrefetchDynamic &&
        config.products.filterUnavailableVariants &&
        this.product.type_id === 'configurable' &&
        this.product.configurable_children &&
        this.product.configurable_children.length > 0
      ) {
        const skus = [this.product.sku]
        for (const confChild of this.product.configurable_children) {
          const cachedItem = rootStore.state.stock.cache[confChild.id]
          if (typeof cachedItem === 'undefined' || cachedItem === null) {
            skus.push(confChild.sku)
          }
        }
        if (skus.length > 0) {
          rootStore.dispatch('stock/list', { skus: skus }) // store it in the cache
        }
      }
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-priceupdate', this.onProductPriceUpdate)
  },
  beforeDestroy () {
    this.$bus.$off('product-after-priceupdate', this.onProductPriceUpdate)
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';

$bg-secondary: color(secondary, $colors-background);
$border-secondary: color(secondary, $colors-border);
$color-white: color(white);

.product {
  position: relative;
  @media (max-width: 767px) {
    padding-bottom: 10px;
  }
  &__icons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-top: 10px;
  }
  &__icon {
    padding-top: 10px;
    opacity: 0;
    z-index: 2;
    transition: 0.3s opacity $motion-main;
    @media (max-width: 767px) {
      opacity: 1;
    }
    &--active {
      opacity: 1;
    }
  }
  &:hover {
    .product__icon {
      opacity: 1;
    }
  }
}

.price-original {
  text-decoration: line-through;
}
%label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $border-secondary;
  text-transform: uppercase;
  color: $color-white;
  font-size: 12px;
}

.product-cover {
  overflow: hidden;

  &__thumb {
    padding-bottom: calc(143.88% / (164.5 / 100));
    @media screen and (min-width: 768px) {
      padding-bottom: calc(300% / (276.5 / 115));
    }
    opacity: 0.8;
    will-change: opacity, transform;
    transition: 0.3s opacity $motion-main, 0.3s transform $motion-main;
  }

  @media screen and (min-width: 768px) {
    &:hover {
      .product-cover__thumb {
        opacity: 1;
        transform: scale(1.1);
      }
      &.sale::after,
      &.new::after {
        opacity: 0.8;
      }
    }
  }

  &.sale {
    &::after {
      @extend %label;
      content: 'Sale';
    }
  }
  &.new {
    &::after {
      @extend %label;
      content: 'New';
    }
  }
}
</style>
<style lang="scss">
.recommended-col label{ display: block;margin-bottom: 10px; overflow: hidden;}
.recommended-box{padding:0 10px; margin-bottom: 20px;}
.recommended-section .slick-prev { margin-top: -75px;left:-19px; height: auto;}
.recommended-section .slick-prev::before {content:'\f104'; font: normal normal normal 14px/1 FontAwesome;color: #000;font-size:48px;}
.recommended-section .slick-next { margin-top: -75px; right:-19px;height: auto;}
.recommended-section .slick-next::before {content:'\f105'; font: normal normal normal 14px/1 FontAwesome;color: #000;font-size: 48px;}
.recommended-text p{font-family: 'Kessel 105 Text Book'; padding: 20px 0;}
.recommended-price{ color:#024D70; font-size:20px; font-weight: 700; margin-right: 20px;}
.recommended-price-old{ color:#888888; font-size:20px; font-family: 'Kessel 105 Text Book';text-decoration: line-through;}
.recommended-color-label{ display: inline-block; height:20px; width:20px; border-radius:20px; margin-right: 10px;}
.color-cod1{ background:#1D255B;}
.color-cod2{ background:#979797;}
.recommended-col .button-outline{opacity: 0;color: #fff; font-family: 'Kessel 105 Text Book'; font-size: 20px; cursor: pointer; visibility: hidden;}
.recommended-col:hover{
.button-outline{visibility:visible;transition: 0.3s;opacity:9;}
 label img{filter: blur(7px);transition: 0.3s;}
}
.recommended-text {
    .flex{align-items: center;}
    label{margin-bottom: 0;}
  }
.recommended-box .relative{overflow: hidden;}


@media (max-width:550px) {
  
   .recommended-box { padding: 0 8px}
   .recommended-section .slick-arrow{margin-top: -50px;}
   .recommended-col .button-outline {font-size: 16px;padding: 10px;text-align: center;}
}
</style>
