<template>
    <section class="new-collection container-full p30">
      <div class="row center-xs">
          <div class="col-sm-3 ">
               <div class="new-collection-col">
                 <label><a href=""><img src="/assets/new-collection1.jpg" class="w-100"></a></label>
                 <div class="new-collection-text">
                      <h4>WEDDING DRESSES</h4>
                      <p>Dresses to Match your Budget, Size, and Style</p>
                  </div>
               </div>
          </div>
          <div class="col-sm-3">
               <div class="new-collection-col">
                  <label><a href=""><img src="/assets/new-collection2.jpg" class="w-100"></a></label>
                  <div class="new-collection-text">
                      <h4>Luxe Collection</h4>
                      <p>Affordable fashion all day every day,</p>
                  </div>
               </div>
          </div>
          <div class="col-sm-3">
               <div class="new-collection-col">
                  <label><a href=""><img src="/assets/new-collection3.jpg" class="w-100"></a></label>
                  <div class="new-collection-text">
                      <h4>MEn Collection</h4>
                      <p>Affordable fashion all day every day,</p>
                  </div>
               </div>
          </div>
          <div class="col-sm-3 ">
               <div class="new-collection-col">
                  <label><a href=""><img src="/assets/new-collection4.jpg" class="w-100"></a></label>
                  <div class="new-collection-text">
                      <h4>Premium jacket </h4>
                      <p>Lorem Ipsum is simply dummy text of fashion industry.</p>
                  </div>
               </div>
          </div>
      </div>
    </section>
</template>

<style lang="scss">
.new-collection-col label{line-height: 0;display: block; margin: 0 0 10px;;}
.new-collection-col{position: relative;}
.new-collection-text{background: url('/assets/Rectangle.png') repeat; width: 100%; bottom: 0; left: 0; text-align: center;position: absolute;padding:23px 20px; overflow: hidden;}
.new-collection-text h4{text-transform: uppercase; padding-bottom: 10px; color: #fff; position: relative; z-index: 1;font-style: normal;font-weight: bold;font-size: 20px;line-height: 21px;text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);}
.new-collection-text p{font-family: 'Kessel 105 Text Book';color: #fff; position: relative; z-index: 1; text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); font-size: 14px;;}
@media (max-width:767px) {
   #app {
    .new-collection{
        .col-sm-3 {
        flex-basis: 50%;
        max-width: 50%;
        }
    }
    .p30 {
        padding-left:10px;
        padding-right:10px;
    }
    .new-collection-col label{
    margin: 0 0 15px;}
  }
}
</style>
