<template>
    <section  class="container pt20 pb60 px15 recommended-section trending-section" v-if="saveUptoProduct.length > 0">
      <div class="row center-xs">
        <header class="col-md-12 relative mb47">
          <h2 class="align-center uppercase">
            {{ $t('Trending Products') }}
          </h2>
        <div class="viewallhome absolute"><a href="" class="flex">View All <span class="arrow_right"></span></a></div>
      </header>
    </div>
    <VueSlickCarousel v-bind="settings">  
      <div v-for="(product, index) of saveUptoProduct" :key="index">
        <product-tile :product="product" />
      </div>
    </VueSlickCarousel>     
    </section>
</template>
<script>
import Tabs from 'theme/components/core/Tabs'
import Tab from 'theme/components/core/Tab'
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import Home from '@vue-storefront/core/pages/Home'
import ProductTile from 'theme/components/core/ProductTile'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common';
export default {
  data () {
    return {
      loading: true,
      saveUptoProduct:[],
      settings: {
       dots: false,
       arrows: true,
       dotsClass: 'slick-dots custom-dot-class',
       infinite: false,
       speed: 500,
       slidesToShow:5,
       slidesToScroll: 1,
       responsive: [
         {
           breakpoint: 1024,
           settings: {
             slidesToShow: 3,
             slidesToScroll: 3,
             infinite: true,
             dots: true,
           },
         },
         {
           breakpoint: 600,
           settings: {
             slidesToShow: 2,
             slidesToScroll: 2,
           },
         },
         {
           breakpoint: 480,
           settings: {
             slidesToShow: 2,
             slidesToScroll: 1,
           },
         },
       ],
     },
    }
  },
  mixins: [Home],
  components: {
    VueSlickCarousel,
    Tabs,
    ProductTile,
    Tab
  },
  async mounted () {
    await this.$store.dispatch('product/list', {
      size: 10
    }).then(res => {
      this.saveUptoProduct = res.items.length > 0 ? res.items : [];
    })
  }
}
</script>

