<template>
  <section class="head-image w-100  cl-white">
    <div class="home-banner">
    <VueSlickCarousel :arrows="false" :fade="true" :dots="true">
     <div><img src="/assets/full_width_banner.jpg"></div>
     <div><img src="/assets/full_width_banner.jpg"></div>
     <div><img src="/assets/full_width_banner.jpg"></div>
     <div><img src="/assets/full_width_banner.jpg"></div>
     <div><img src="/assets/full_width_banner.jpg"></div>
    </VueSlickCarousel>
  </div>
  
  </section>
</template>

<script>
// import ButtonOutline from 'theme/components/theme/ButtonOutline'
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
  // optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

import { mapGetters } from 'vuex'

export default {
  name: 'MyComponent',
  components: {
    // ButtonOutline
     VueSlickCarousel
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters({
      currentImage: 'promoted/getHeadImage'
    })
  }
}
</script>
<style lang="scss" >
 .home-banner{
    .slick-dots {
      bottom:40px;
    }
    .slick-dots li button::before{display: none;}
    .slick-dots li button{background: rgba(255, 255, 255, 0.2); border: solid 1px #fff;width: 14px;border-radius: 14px;height: 14px;padding: 0;}
    .slick-dots li.slick-active button{background:#fff;}
  }
</style>

<style lang="scss" scoped>
.head-image {
  @media (min-width: 767px) {
    display: inherit;
  }
 
  .head-image-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15%;

    .title {
      font-size: 3.4rem;
      margin-bottom: 0;
    }

    .subtitle {
      font-size: 0.8rem;
      max-width: 340px;
      font-family: 'Roboto', sans-serif;
      line-height: 1.2rem;
    }
  }
}
.container {
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

@media (max-width: 75em) {
  .title {
    font-size: 50px;
  }
  .subtitle {
    font-size: 20px;
  }
}
@media (max-width: 64em) {
 
  .container {
    background-position: left;
  }
  .title {
    font-size: 48px;
  }
  .subtitle {
    font-size: 18px;
  }
  .button {
    font-size: 16px;
  }
  
}
</style>
