<template>
  <div class="header">
    
    <header
      class="w-100 brdr-bottom-1 bg-cl-primary brdr-cl-secondary"
      :class="{ 'is-visible': navVisible }"
    >
    <div class="header-top">
       <label class="hidden-xs"> Free home delivery when you spend over £50</label><label>Order by 8pm for next-day delivery for £4.99</label><label class="hidden-xs">Shop with confidence with our extended returns policy</label>
    </div>
    <div class="header-bottom">
      <div class="container-full px30">
        <div class="row between-xs middle-xs" v-if="!isCheckoutPage || isThankYouPage">
          <div class="col-md-4 col-sm-4 flex middle-xs  visible-xs">
            <div>
              <hamburger-icon class="icon pointer" />
            </div>
            <div class="visible-xs">
              <search-icon class="icon pointer" />
            </div>
          </div>
          <div class="col-md-4 col-sm-4 hidden-xs">
            <div class="language-link flex align-items">
             <a href="" class="flex align-items no-underline"><img class="mr5" src="/assets/Flag_of_the_United_Kingdom.svg"> EN <img height="6" class="ml5" src="/assets/hedaer-back-arrow.svg"></a>
            </div>
          </div>
          
          <div class="col-md-4 col-sm-4 center-xs">
            <div class="logo">
              <logo width="auto" height="50px" />
            </div>
          </div>
        
          <div class="col-md-4 col-sm-4 end-xs">
            <div class="inline-flex right-icons">
              <search-icon class="p15 icon hidden-xs pointer" />
              <wishlist-icon class="p15 icon pointer" />
              <compare-icon class="p15 icon hidden-xs pointer" />
              <account-icon class="p15 icon hidden-xs pointer" />
              <microcart-icon class="p15 icon pointer" />
            </div>
          </div>
        </div>
        <div class="row between-xs middle-xs px15 py5" v-if="isCheckoutPage && !isThankYouPage">
          <div class="col-xs-5 col-md-3 middle-xs">
            <div>
              <router-link
                :to="localizedRoute('/')"
                class="cl-tertiary links"
              >
                {{ $t('Return to shopping') }}
              </router-link>
            </div>
          </div>
          <div class="col-xs-2 col-md-6 center-xs">
            <logo width="auto" height="50px" />
          </div>
          <div class="col-xs-5 col-md-3 end-xs">
            <div>
              <a
                v-if="!currentUser"
                href="#"
                @click.prevent="gotoAccount"
                class="cl-tertiary links"
              >{{ $t('Login to your account') }}</a>
              <span v-else>{{ $t('You are logged in as {firstname}', currentUser) }}</span>
            </div>
          </div>
        </div>
      </div>
     </div>
     <div class="header-nav end-xs">
       <SidebarMenu  />
     </div>
    </header>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CurrentPage from 'theme/mixins/currentPage'
import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon'
import CompareIcon from 'theme/components/core/blocks/Header/CompareIcon'
import HamburgerIcon from 'theme/components/core/blocks/Header/HamburgerIcon'
import Logo from 'theme/components/core/Logo'
import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon'
import SearchIcon from 'theme/components/core/blocks/Header/SearchIcon'
import WishlistIcon from 'theme/components/core/blocks/Header/WishlistIcon'
import SidebarMenu from 'theme/components/core/blocks/SidebarMenu/SidebarMenu'

export default {
  name: 'Header',
  components: {
    AccountIcon,
    CompareIcon,
    HamburgerIcon,
    Logo,
    MicrocartIcon,
    SearchIcon,
    WishlistIcon,
    SidebarMenu
  },
  mixins: [CurrentPage],
  data () {
    return {
      navVisible: true,
      isScrolling: false,
      scrollTop: 0,
      lastScrollTop: 0,
      navbarHeight: 54
    }
  },
  computed: {
    ...mapState({
      isOpenLogin: state => state.ui.signUp,
      currentUser: state => state.user.current
    }),
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false
    }
  },
  beforeMount () {
    window.addEventListener(
      'scroll',
      () => {
        this.isScrolling = true
      },
      { passive: true }
    )

    setInterval(() => {
      if (this.isScrolling) {
        this.hasScrolled()
        this.isScrolling = false
      }
    }, 250)
  },
  methods: {
    gotoAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    hasScrolled () {
      this.scrollTop = window.scrollY
      if (
        this.scrollTop > this.lastScrollTop &&
        this.scrollTop > this.navbarHeight
      ) {
        this.navVisible = false
      } else {
        this.navVisible = true
      }
      this.lastScrollTop = this.scrollTop
    }
  }
}
</script>


<style lang="scss" scoped>

header {
 height: auto;
  top: -55px;
  z-index: 3;
  transition: top 0.2s ease-in-out;
  font-family: 'Kessel 105 Text Book';
  &.is-visible {
    top: 0;
  }
}
.header-top{
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background:#EEEEEE;
  display: flex;
  justify-content: center;
  label{
    border-right: #000 solid 1px;
    padding:0 36px;
  }
  :last-child{
    border:0;
    margin-right:0;
  }
}
.header-bottom{
 padding:14px 0;
}
.icon {
 opacity: 1;
  &:hover,
  &:focus {
     opacity: 0.6;
  }
}

.right-icons {
  //for edge
  float: right;
}
.header-placeholder {
  height:180px;
}
.links {
  text-decoration: underline;
}
.language-link{
    font-size: 12px;
    font-weight: 600;
    font-family: 'Kessel 105 Text';
    color: #000 !important;
}

@media (max-width: 767px) {
  .row.middle-xs {
    margin: 0 -15px;

    &.py5 {
      margin: 0;
    }
  }
  .col-xs-2:first-of-type {
    padding-left: 0;
  }
  .col-xs-2:last-of-type {
    padding-right: 0;
  }
  a,
  span {
    font-size: 12px;
  }
}
</style>

<style lang="scss">
#app {
header{
  border: 0;
  .home-right-icon{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000;
    font-family: 'Kessel 105 Text Book';
    img{
      margin-right:9px;
    }
  }
  .right-icons{
     .icon{
       padding-right: 0;
       padding-left:39px;
     }
  }
  .logo img{ position:relative; bottom: -5px;}

 .brdr-cl-bg-secondary {
    border-color: #DDD;
  }
  @media (min-width: 767px) {
 
  .header-nav {
    .sidebar-menu{
      height: auto;
      width: auto;
      overflow: inherit;
      position: static;
    }
    .close-btn{display: none;}
    .sidebar-menu__container {
      overflow-y: inherit;
      height: auto;
      display: flex;
      margin: 0;
    }
    .sidebar-menu__list{
      display: flex;
      width: 100%;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .sidebar-menu{ background: #fff;}
  .sidebar-menu li {border: 0;}
  .sidebar-menu li a{
    color: #000;
    font-size: 16px;
    font-family: 'Kessel 105 Text Book';
    padding: 17px 20px;
    }
 
  }
}
}
@media (max-width:1150px) {
  #app {
    header .sidebar-menu li a {padding: 17px 10px;}
  }
}

@media (max-width:1034px) {
  #app {
    header .right-icons .icon {padding-left: 8px;}
  }
}
@media (max-width:990px) {
  #app {
    .footer-links  .start-md1{border:0; padding-left: 0;}
    .header-placeholder{height: 251px;}
  }
}
@media (max-width:767px) {
   #app {
    .header-nav.end-xs{display:none;}
    .header-top label{border-right: 0;}
    .header-bottom{padding: 11px 0;}
  }
  
}
@media (max-width:550px) {
   #app {
     .header-bottom{
      [class^="col-"] {
        flex: inherit;
        flex-basis: inherit;
        max-width: inherit;
      }
    }
    .new-collection-text h4 {
    font-size: 13px;
    line-height: 14px;
    padding-bottom: 5px;
    }
    .new-collection-text p {
    font-size: 11px;
    line-height: 15px;

    }
  .new-collection-text {padding: 8px 10px;}
  .header-bottom .logo img{height: 35px;}
  .header-bottom{
    .px30{padding:0 25px;}
  }
  .header-bottom { padding:0;}
  .header-top{
    padding: 10px 0;
    font-size: 12px;
    background: #000;
    color: #fff;
    }
    .slick-dots li {
      width: 22px;
      margin: 0 0;
      padding: 0;
    }
    .home-banner .slick-dots {bottom: 24px;}
  }
  
}
</style>
