input, select {
  height: 44px;
  line-height: 44px;
}

.select-wrapper {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 1rem;
    right: 10px;
    background: url("/assets/hedaer-back-arrow.svg") no-repeat;
    pointer-events: none;
    height: 8px;
    width: 15px;
    background-size: cover;
  }

  select {
    @extend .h4;
    border: none;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: transparent;

    &:hover,
    &:focus {
      outline: none;
      border-color:#024D70 ;
    }

    &:disabled,
    &:disabled + label {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  label {
    color: #999;
    position: absolute;
    pointer-events: none;
    user-select: none;
    top: 10px;
    left: 8px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  select:focus ~ label, select:not(.empty) ~ label {
    top: -10px;
    font-size: 14px;
  }
  .empty{ font-family: 'Kessel 105 Text Book'; background: #fff; border:solid 1px #000; padding:12px 30px 12px 12px; height: 40px; font-weight: normal;font-size: 14px;line-height: 15px;}

}

