<template>
  <button
    type="button"
    :aria-label="$t('Open search panel')"
    class="bg-cl-transparent brdr-none inline-flex"
    @click="toggleSearchpanel"
    data-testid="openSearchPanel"
  >
   <span class="home-right-icon">
      <img
      src="/assets/Search.svg"
    ><label class="hidden-xs">Search</label> </span>
  </button>
</template>

<script>
import SearchIcon from '@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon'

export default {
  mixins: [SearchIcon]
}
</script>

<style lang="scss" scoped>
   .new-collection-col{
    position: relative;
  }
</style>