// -----font size------
$fontsize-px: 0 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
  31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60;

@mixin font-size {
  @each $i in $fontsize-px {
    .f-s-#{$i} {
      font-size: #{$i}px;
    }
  }
}


.f-s-0 {
    font-size:0
   }
   .f-s-5 {
    font-size:5px
   }
   .f-s-10 {
    font-size:10px
   }
   .f-s-11 {
    font-size:11px
   }
   .f-s-12 {
    font-size:12px
   }
   .f-s-13 {
    font-size:13px
   }
   .f-s-14 {
    font-size:14px
   }
   .f-s-15 {
    font-size:15px
   }
   .f-s-16 {
    font-size:16px
   }
   .f-s-17 {
    font-size:17px
   }
   .f-s-18 {
    font-size:18px
   }
   .f-s-19 {
    font-size:19px
   }
   .f-s-20 {
    font-size:20px
   }
   .f-s-21 {
    font-size:21px
   }
   .f-s-22 {
    font-size:22px
   }
   .f-s-23 {
    font-size:23px
   }
   .f-s-24 {
    font-size:24px
   }
   .f-s-25 {
    font-size:25px
   }
   .f-s-26 {
    font-size:26px
   }
   .f-s-27 {
    font-size:27px
   }
   .f-s-28 {
    font-size:28px
   }
   .f-s-29 {
    font-size:29px
   }
   .f-s-30 {
    font-size:30px
   }
   .f-s-31 {
    font-size:31px
   }
   .f-s-32 {
    font-size:32px
   }
   .f-s-33 {
    font-size:33px
   }
   .f-s-34 {
    font-size:34px
   }
   .f-s-35 {
    font-size:35px
   }
   .f-s-36 {
    font-size:36px
   }
   .f-s-37 {
    font-size:37px
   }
   .f-s-38 {
    font-size:38px
   }
   .f-s-39 {
    font-size:39px
   }
   .f-s-40 {
    font-size:40px
   }



.Kessel105{font-family: 'Kessel 105 Text';}
.KesselBook{font-family: 'Kessel 105 Text Book';}


@font-face {
    font-family: 'Kessel 105 Text Heavy Oblique';
    src: url('/assets/fonts/Kessel105Text-HeavyOblique.eot');
    src: url('/assets/fonts/Kessel105Text-HeavyOblique.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Kessel105Text-HeavyOblique.woff2') format('woff2'),
        url('/assets/fonts/Kessel105Text-HeavyOblique.woff') format('woff'),
        url('/assets/fonts/Kessel105Text-HeavyOblique.ttf') format('truetype'),
        url('/assets/fonts/Kessel105Text-HeavyOblique.svg#Kessel105Text-HeavyOblique') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kessel 105 Text';
    src: url('/assets/fonts/Kessel105Text-Heavy.eot');
    src: url('/assets/fonts/Kessel105Text-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Kessel105Text-Heavy.woff2') format('woff2'),
        url('/assets/fonts/Kessel105Text-Heavy.woff') format('woff'),
        url('/assets/fonts/Kessel105Text-Heavy.ttf') format('truetype'),
        url('/assets/fonts/Kessel105Text-Heavy.svg#Kessel105Text-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kessel 105 Text Light Oblique';
    src: url('/assets/fonts/Kessel105Text-LightOblique.eot');
    src: url('/assets/fonts/Kessel105Text-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Kessel105Text-LightOblique.woff2') format('woff2'),
        url('/assets/fonts/Kessel105Text-LightOblique.woff') format('woff'),
        url('/assets/fonts/Kessel105Text-LightOblique.ttf') format('truetype'),
        url('/assets/fonts/Kessel105Text-LightOblique.svg#Kessel105Text-LightOblique') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kessel 105 Text';
    src: url('/assets/fonts/Kessel105Text-Bold.eot');
    src: url('/assets/fonts/Kessel105Text-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Kessel105Text-Bold.woff2') format('woff2'),
        url('/assets/fonts/Kessel105Text-Bold.woff') format('woff'),
        url('/assets/fonts/Kessel105Text-Bold.ttf') format('truetype'),
        url('/assets/fonts/Kessel105Text-Bold.svg#Kessel105Text-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kessel 105 Text Book';
    src: url('/assets/fonts/Kessel105Text-Book.eot');
    src: url('/assets/fonts/Kessel105Text-Book.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Kessel105Text-Book.woff2') format('woff2'),
        url('/assets/fonts/Kessel105Text-Book.woff') format('woff'),
        url('/assets/fonts/Kessel105Text-Book.ttf') format('truetype'),
        url('/assets/fonts/Kessel105Text-Book.svg#Kessel105Text-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kessel 105 Text Book Oblique';
    src: url('/assets/fonts/Kessel105Text-BookOblique.eot');
    src: url('/assets/fonts/Kessel105Text-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Kessel105Text-BookOblique.woff2') format('woff2'),
        url('/assets/fonts/Kessel105Text-BookOblique.woff') format('woff'),
        url('/assets/fonts/Kessel105Text-BookOblique.ttf') format('truetype'),
        url('/assets/fonts/Kessel105Text-BookOblique.svg#Kessel105Text-BookOblique') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kessel 105 Text';
    src: url('/assets/fonts/Kessel105Text-Light.eot');
    src: url('/assets/fonts/Kessel105Text-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Kessel105Text-Light.woff2') format('woff2'),
        url('/assets/fonts/Kessel105Text-Light.woff') format('woff'),
        url('/assets/fonts/Kessel105Text-Light.ttf') format('truetype'),
        url('/assets/fonts/Kessel105Text-Light.svg#Kessel105Text-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KesselBold';
    src: url('/assets/fonts/Kessel105Text-BoldOblique.eot');
    src: url('/assets/fonts/Kessel105Text-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Kessel105Text-BoldOblique.woff2') format('woff2'),
        url('/assets/fonts/Kessel105Text-BoldOblique.woff') format('woff'),
        url('/assets/fonts/Kessel105Text-BoldOblique.ttf') format('truetype'),
        url('/assets/fonts/Kessel105Text-BoldOblique.svg#Kessel105Text-BoldOblique') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}