<template>
       <section  class="py80 px15 container recommended-section imstagram-section">
        <div class="row center-xs">
            <header class="col-md-12 relative mb40">
              <h2 class="align-center pb10">
                {{ $t('@thyfashion') }}
              </h2>
              <p>Tag <a href="">#thyfashion</a> for a chance to be featured here.</p>
            </header>
        </div>
        <VueSlickCarousel v-bind="settings">
          <div class="recommended-box">
            <div class="recommended-col">
              <label class="relative"><img src="/assets/instagram-img1.jpg" class="w-100"> <a href="" class="instabtn mdl"><i class="fa fa-instagram"></i></a></label>
              </div>
          </div>
          <div class="recommended-box">
            <div class="recommended-col">
              <label class="relative"><img src="/assets/instagram-img2.jpg" class="w-100"> <a href="" class="instabtn mdl"><i class="fa fa-instagram"></i></a></label>
              </div>
          </div>
          <div class="recommended-box">
            <div class="recommended-col">
              <label class="relative"><img src="/assets/instagram-img3.jpg" class="w-100"> <a href="" class="instabtn mdl"><i class="fa fa-instagram"></i></a></label>
              </div>
          </div>
          <div class="recommended-box">
            <div class="recommended-col">
              <label class="relative"><img src="/assets/instagram-img4.jpg" class="w-100"> <a href="" class="instabtn mdl"><i class="fa fa-instagram"></i></a></label>
              </div>
          </div>
          <div class="recommended-box">
            <div class="recommended-col">
              <label class="relative"><img src="/assets/instagram-img5.jpg" class="w-100"> <a href="" class="instabtn mdl"><i class="fa fa-instagram"></i></a></label>
              </div>
          </div> 
           <div class="recommended-box">
            <div class="recommended-col">
              <label class="relative"><img src="/assets/instagram-img2.jpg" class="w-100"> <a href="" class="instabtn mdl"><i class="fa fa-instagram"></i></a></label>
              </div>
          </div>   
        </VueSlickCarousel>
    </section>
</template>
<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import Home from '@vue-storefront/core/pages/Home'
export default {
  data () {
    return {
      loading: true,
      settings: {
       dots: false,
       arrows: true,
       dotsClass: 'slick-dots custom-dot-class',
       edgeFriction: 0.35,
       infinite: false,
       speed: 500,
       slidesToShow:5,
       slidesToScroll: 1,
       infinite: false,
       responsive: [
         {
           breakpoint: 1024,
           settings: {
             slidesToShow: 3,
             slidesToScroll: 3,
             infinite: true,
             dots: true,
           },
         },
         {
           breakpoint: 600,
           settings: {
             slidesToShow: 2,
             slidesToScroll: 2,
           },
         },
         {
           breakpoint: 480,
           settings: {
             slidesToShow: 2,
             slidesToScroll: 1,
           },
         },
       ],
     },
    }
  },
  mixins: [Home],
  components: {
    VueSlickCarousel
  }
}
</script>

<style lang="scss">

@media (max-width:550px) {
  #app{
   .imstagram-section{
     padding:40px 10px;
     header{margin-bottom:25px;}
     header h2 {text-align: center;}
     header p {font-size: 14px; line-height: 15px;}
   }
  }
}
</style>