<template>
   <section  class="container pt70 pb60 px15 recommended-section">
   <div class="row center-xs">
      <header class="col-md-12 relative mb20">
        <h2 class="align-center uppercase">
          {{ $t('Recommended For You') }}
        </h2>
        <div class="viewallhome absolute"><a href="" class="flex">View All <span class="arrow_right"></span></a></div>
        
      </header>
      <div class="col-md-12 relative mb30">
         <tabs>
          <tab :title="$t('Woman')">
            <VueSlickCarousel v-bind="settings">
            <div class="recommended-box">
               <div class="recommended-col">
                 <label class="relative"><img src="/assets/recommended-img1.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
            </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img3.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col">
                 <label class="relative"><img src="/assets/recommended-img1.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
            </VueSlickCarousel>    
          </tab>
          <tab :title="$t('Man')">
             <VueSlickCarousel v-bind="settings">
            <div class="recommended-box">
               <div class="recommended-col">
                 <label class="relative"><img src="/assets/recommended-img1.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
            </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img3.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col">
                 <label class="relative"><img src="/assets/recommended-img1.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
            </VueSlickCarousel>
          </tab>    
          <tab :title="$t('Teen')">
             <VueSlickCarousel v-bind="settings">
            <div class="recommended-box">
               <div class="recommended-col">
                 <label class="relative"><img src="/assets/recommended-img1.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
            </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img3.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col">
                 <label class="relative"><img src="/assets/recommended-img1.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
            </VueSlickCarousel>
          </tab>  
          <tab :title="$t('Child')">
             <VueSlickCarousel v-bind="settings">
            <div class="recommended-box">
               <div class="recommended-col">
                 <label class="relative"><img src="/assets/recommended-img1.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
            </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img3.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col">
                 <label class="relative"><img src="/assets/recommended-img1.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
            </VueSlickCarousel>
          </tab> 
          <tab :title="$t('Baby')">
             <VueSlickCarousel v-bind="settings">
            <div class="recommended-box">
               <div class="recommended-col">
                 <label class="relative"><img src="/assets/recommended-img1.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
            </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img3.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col">
                 <label class="relative"><img src="/assets/recommended-img1.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
            </VueSlickCarousel>
          </tab>       
        </tabs>
      </div>
      <div class="c"></div>
    </div>

</section>
</template>
<script>
import Tabs from 'theme/components/core/Tabs'
import Tab from 'theme/components/core/Tab'

import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import Home from '@vue-storefront/core/pages/Home'
export default {
  data () {
    return {
      loading: true,
      settings: {
       dots: false,
       arrows: true,
       dotsClass: 'slick-dots custom-dot-class',
       edgeFriction: 0.35,
       infinite: false,
       speed: 500,
       slidesToShow:5,
       slidesToScroll: 1,
       infinite: false,
       responsive: [
         {
           breakpoint: 1024,
           settings: {
             slidesToShow: 3,
             slidesToScroll: 3,
             infinite: true,
             dots: true,
           },
         },
         {
           breakpoint: 600,
           settings: {
             slidesToShow: 2,
             slidesToScroll: 2,
           },
         },
         {
           breakpoint: 480,
           settings: {
             slidesToShow: 2,
             slidesToScroll: 1,
           },
         },
       ],
     },
    }
  },
  mixins: [Home],
  components: {
    VueSlickCarousel,
    Tabs,
    Tab
  }
}
</script>



<style lang="scss">

@media (max-width:767px) {
   #app {
   .pb60 {padding-bottom: 25px;}
   .pt70 {padding-top: 0;}
  } 
}
@media (max-width:550px) {
   #app {
   .recommended-section {
      header {
         h2{font-size: 16px;line-height: 17px;text-align: left;}
         .viewallhome a {
         font-size: 14px;
         line-height: 15px;
         }
      }
      .tabs__header li {
      font-size: 14px;
      padding: 7px 6px;
      margin: 0 2px;
      }
      .tabs__header.mb40 {margin-bottom: 15px;}
      .slick-slider{margin: 0 -8px;}
      .button-outline {padding: 7px;font-size: 15px;}
      .slick-prev {
      left: 8px;
      width: 35px;
      height: 35px;
      z-index: 1;
      background:rgba(255,255,255, 0.3);;
      &::before {
         font-size: 33px;
      }
      }
      .slick-next {
      right:8px;
      width: 35px;
      z-index: 1;
      height: 35px;
      background: rgba(255,255,255, 0.3);;
      &::before {
         font-size: 33px;
      }
      }
   }
    .trending-section .mb47 { margin-bottom: 15px;}
  .trending-section.px15  { padding-left:10px; padding-right:10px; padding-top: 0;}
  .recommended-text p {
    padding: 12px 0;
    font-size: 12px;
    text-align: left;
    line-height: 15px;}
    .recommended-color-label {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    margin-right: 6px;}
    .recommended-price {
    font-size: 16px;
    border-radius:18px;}
   .recommended-price-old{
    font-size: 16px;
    border-radius:18px;}


  } 
}



</style>
<style lang="scss" scoped>

@media (max-width:550px) {

.recommended-section.pt70  { padding-left:10px; padding-right:10px;}
.recommended-section .mb30{ margin-bottom:0;}
}
</style>>
</style>