<template>
    <section  class="container pt20 pb60 px15 recommended-section trending-section">
      <div class="row center-xs">
        <header class="col-md-12 relative mb47">
          <h2 class="align-center uppercase">
            {{ $t('Trending Products') }}
          </h2>
          <div class="viewallhome absolute"><a href="" class="flex">View All <span class="arrow_right"></span></a></div>
        </header>
      </div>

     <VueSlickCarousel v-bind="settings">
           <div class="recommended-box">
               <div class="recommended-col">
                 <label class="relative"><img src="/assets/recommended-img1.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img3.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col">
                 <label class="relative"><img src="/assets/recommended-img1.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
           <div class="recommended-box">
               <div class="recommended-col ">
                 <label class="relative"><img src="/assets/recommended-img2.jpg" class="w-100"> <button class="button button-outline mdl">Quick View</button></label>
                 <div class="recommended-text">
                      <div class="flex recommended-color flex">
                         <div class="recommended-color-code flex">
                            <a href="" class="recommended-color-label color-cod1"></a>
                            <a href="" class="recommended-color-label color-cod2"></a>
                         </div>
                         <span class="Wishlist-icon ml-auto" data-v-09490821=""><a href=""><img src="/assets/Wishlist.svg" data-v-09490821=""></a></span>
                      </div>
                      <p>Checked In Natural Checked and Sequin Loungewear Set</p>
                      <div class="flex">
                      <label class="recommended-price">$55.00</label> <span class="recommended-price-old">$60.00</span>
                      </div>
                  </div>
               </div>
          </div>
    </VueSlickCarousel>



      <!-- <tile-links /> -->
    </section>
</template>
<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import Home from '@vue-storefront/core/pages/Home'
export default {
  data () {
    return {
      loading: true,
      settings: {
       dots: false,
       arrows: true,
       dotsClass: 'slick-dots custom-dot-class',
       edgeFriction: 0.35,
       infinite: false,
       speed: 500,
       slidesToShow:5,
       slidesToScroll: 1,
       infinite: false,
       responsive: [
         {
           breakpoint: 1024,
           settings: {
             slidesToShow: 3,
             slidesToScroll: 3,
             infinite: true,
             dots: true,
           },
         },
         {
           breakpoint: 600,
           settings: {
             slidesToShow: 2,
             slidesToScroll: 2,
           },
         },
         {
           breakpoint: 480,
           settings: {
             slidesToShow: 2,
             slidesToScroll: 1,
           },
         },
       ],
     },
    }
  },
  mixins: [Home],
  components: {
    VueSlickCarousel
  }
}
</script>
