// Typography
// ==========
// Font sizes and families
//
// stylelint-disable indentation

// Font Families
// -------------
$font-fallbacks: (
        sans-serif: '-Kessel, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif',
        serif: 'Kessel, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif'
);

$font-families: (
        primary: ("Kessel", #{(map-get($font-fallbacks, 'sans-serif'))}),
        secondary: ("Kessel", map-get($font-fallbacks, 'serif'))
) !default;

