html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: color(primary);
  position: relative;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}


// Text Define
@mixin text($size, $color, $weight) {
  @if $size != null {
    font-size: $size;
  }
  @if $color != null {
    color: $color;
  }
  @if $weight != null {
    font-weight: $weight;
  }
}

// Keyframe Define
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

// Animation Define
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

// Transform Define
@mixin transform($property) {
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  -webkit-transform: $property;
  transform: $property;
}

// Transition Define
@mixin transition($transition) {
   -moz-transition: $transition;
   -o-transition: $transition;
   -ms-transition: $transition;
   -webkit-transition: $transition;
   transition: $transition;
}

// D-flex  define
%d-flex {
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-direction: row;
}

// D-inline define
%d-inline {
    display: inline-block;
    vertical-align: middle;
}

/* Breakpoint sizes or Media query */

$screen-exs-max: 374px;
$screen-xs-max: 600px;
$screen-sm-max: 920px;
$screen-md-max: 1024px;
$screen-lg-max: 1440px;

@mixin breakpoint($media) {
  @if $media == exs {
    @media only screen and (max-width: $screen-exs-max) { @content; }
  }
  @if $media == xs {
    @media only screen and (max-width: $screen-xs-max) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: $screen-sm-max) { @content; }
  }
  @else if $media == md {
    @media only screen and (max-width: $screen-md-max) { @content; }
  }
  @else if $media == lg {
    @media only screen and (max-width: $screen-lg-max) { @content; }
  }
}
