html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: color(primary);
  position: relative;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

@mixin text($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin transform($property) {
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  -webkit-transform: $property;
  transform: $property;
}

@mixin transition($transition) {
   -moz-transition: $transition;
   -o-transition: $transition;
   -ms-transition: $transition;
   -webkit-transition: $transition;
   transition: $transition;
}

%d-flex {
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-direction: row;
}
%d-inline {
    display: inline-block;
    vertical-align: middle;
}