<template lang="html">
  <div class="tabs__light">
    <ul class="tabs__header mb40">
      <li v-for="(tab, index) in tabs"
          :key="tab.title"
          @click="selectTab(index)"
          :class="{'tab__selected': (index == selectedIndex)}"
      >
        {{ tab.title }}
      </li>
    </ul>
    <slot />
  </div>
</template>

<script>
export default {
  data () {
    return {
      selectedIndex: 0, // the index of the selected tab,
      tabs: [] // all of the tabs
    }
  },
  created () {
    this.tabs = this.$children
  },
  mounted () {
    this.selectTab(0)
  },
  methods: {
    selectTab (i) {
      this.selectedIndex = i

      // loop over all the tabs
      this.tabs.forEach((tab, index) => {
        tab.isActive = (index === i)
      })
    }
  }
}
</script>

<style lang="scss">
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$black-2D242D: color(black-2D242D);
 
 .tabs__header{
      padding: 0;
      display: flex;
      margin: 0 0 0px 0;
      width: 100%;
      justify-content: center;
      li{
        padding: 0 10px;
        display: flex;
        color: #000;
        font-size: 20px;
        font-family: 'Kessel 105 Text Book';
        padding: 7px 10px;
        margin: 0 10px;
        border-bottom: solid 1px transparent;
        &:hover{
        color:#024D70;
        border-color:#024D70;
        }
      }
       .tab__selected{
        color:#024D70;
        border-color:#024D70;
            
        }
    }

</style>
