// Global styles for text
body {
  font-size: 16px;
  font-family: 'Kessel 105 Text';
  font-weight: 400;
}
p{font-family: 'Kessel 105 Text Book'; line-height: 21px;  padding: 0; margin: 0;}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Kessel 105 Text';
  padding: 0; margin: 0;
}

h1,
.h1 {
  font-size: 48px;
}

h2,
.h2 {
  font-size: 28px;
  color: #000;

  @media (max-width: 767px) {
    font-size: 24px;
  }
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 20px;
  color: #000;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 12px;
}

// Atomic styles for text
.serif {
  font-family: 'Kessel 105 Text';
}
.sans-serif {
  font-family: 'Kessel 105 Text';
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-justify {
  text-align: justify;
}

.weight-400 {
  font-weight: 400;
}
.weight-700 {
  font-weight: 700;
}

.lh16 {
  line-height: 16px;
}
.lh20 {
  line-height: 20px;
}
.lh25 {
  line-height: 25px;
}
.lh30 {
  line-height: 30px;
}
.lh35 {
  line-height: 35px;
}
.lh40 {
  line-height: 40px;
}

// Sizes
.fs-medium-small {
  font-size: 14px;
}
.fs-medium {
  font-size: 18px;
}
.fs-large {
  font-size: 24px;
}
.fs-big {
  font-size: 36px;
}

// @todo its not in styleguite therefore shouldn't be here, ask Karol Bzik
.fs16 {
  font-size: 16px;
}
.ml-auto, .mx-auto {
  margin-left: auto !important;
}
.mr-auto, .mx-auto {
  margin-right: auto !important;
}
