a, a:hover{outline: none !important; text-decoration: none ;}
.inline-flex {
  display: inline-flex;
}
a:not(.no-underline):hover::after{display: none !important;}
.flex {
  display: flex;
}
.align-items{align-items:center;}
.block {
  display: block;
}
.uppercase{  text-transform: uppercase;}
.center-self {
  align-self: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.border-box {
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-100 {
  height: 100%;
}

.w-50 {
  width: 50%;
}

.mw-100 {
  max-width: 100%
}
