<template>
  <div id="product" itemscope itemtype="http://schema.org/Product">
    <section class="px20 product-top-section test-product">
      <div class="container">
        <section class="row m0 inner-breadcrumbs">
            <div class="col-xs-12 col-md-12">
              <breadcrumbs
                class="pt40 pb20 hidden-xs"
              />
            </div>
        </section>
        <section class="row m0 between-xs">
          <div class="col-xs-12 col-md-6 pr30 mt5 center-xs middle-xs image">
            <div class="product-wrap">
              <div class="product-img mb35">
                <img src="assets/product/product-item-one.png" />
              </div>
              <div class="product-img mb35">
                <img src="assets/product/product-item-two.png" />
              </div>
              <div class="product-img mb35">
                <img src="assets/product/product-item-three.png" />
              </div>
              <div class="product-img mb35">
                <img src="assets/product/product-item-four.png" />
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 data">
            <!-- <div
              class="mb20 uppercase cl-secondary"
              itemprop="sku"
              :content="getCurrentProduct.sku"
            >
              {{ $t('SKU: {sku}', { sku: getCurrentProduct.sku }) }}
            </div> -->
            <p class="product-code mb15">Product code : <span>T236678G</span></p>
            <h1
              class="mb15 mt0 cl-mine-shaft product-name"
              data-testid="productName"
              itemprop="name"
            >
              {{ getCurrentProduct.name | htmlDecode }}
              <web-share
                :title="getCurrentProduct.name | htmlDecode"
                text="Check this product!"
                class="web-share"
              />
            </h1>
            <div class="rating-wrap mb25">
              <div class="rating-star">
                <div class="rating-item"><svg class="MuiSvgIcon-root star-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true" tabindex="-1" title="Star" data-ga-event-category="material-icons" data-ga-event-action="click" data-ga-event-label="Star"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></div>
                <div class="rating-item"><svg class="MuiSvgIcon-root star-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true" tabindex="-1" title="Star" data-ga-event-category="material-icons" data-ga-event-action="click" data-ga-event-label="Star"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></div>
                <div class="rating-item"><svg class="MuiSvgIcon-root star-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true" tabindex="-1" title="Star" data-ga-event-category="material-icons" data-ga-event-action="click" data-ga-event-label="Star"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></div>
                <div class="rating-item"><svg class="MuiSvgIcon-root star-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true" tabindex="-1" title="Star" data-ga-event-category="material-icons" data-ga-event-action="click" data-ga-event-label="Star"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></div>
                <div class="rating-item"><svg class="MuiSvgIcon-root star-icon star-empty" focusable="false" viewBox="0 0 24 24" aria-hidden="true" tabindex="-1" title="Star" data-ga-event-category="material-icons" data-ga-event-action="click" data-ga-event-label="Star"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></div>
              </div>
              <p class="rating-point">
                4  Reviews
              </p>
            </div>
            
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" :content="$store.state.storeView.i18n.currencyCode">
              <meta itemprop="price" :content="parseFloat(getCurrentProduct.price_incl_tax).toFixed(2)">
              <meta itemprop="availability" :content="structuredData.availability">
              <meta itemprop="url" :content="getCurrentProduct.url_path">
              <product-price
                class="mb15 product-price"
                v-if="getCurrentProduct.type_id !== 'grouped'"
                :product="getCurrentProduct"
                :custom-options="getCurrentCustomOptions"
              />
              <div class="cl-primary variants" v-if="getCurrentProduct.type_id =='configurable'">
                <div
                  class="error"
                  v-if="getCurrentProduct.errors && Object.keys(getCurrentProduct.errors).length > 0"
                >
                  {{ getCurrentProduct.errors | formatProductMessages }}
                </div>
                <div class="h5" v-for="option in getProductOptions" :key="option.id">
                  <div class="variants-label" data-testid="variantsLabel">
                    {{ option.label }}: 
                    <span
                      class="weight-500"
                    > {{ getOptionLabel(option) }}</span>
                  </div>
                  <div class="row top-xs m0 pt15 pb40 variants-wrapper">
                    <div v-if="option.label == 'Color'">
                      <color-selector
                        v-for="filter in getAvailableFilters[option.attribute_code]"
                        :key="filter.id"
                        :variant="filter"
                        :selected-filters="getSelectedFilters"
                        @change="changeFilter"
                      />
                    </div>
                    <div class="sizes common-select" v-else-if="option.label == 'Size'">
                      <select>
                        <option>XLL(In-Stock)</option>
                        <option>XS</option>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                      </select>
                    </div>
                    <div :class="option.attribute_code" v-else>
                      <generic-selector
                        class="mr10 mb10"
                        v-for="filter in getAvailableFilters[option.attribute_code]"
                        :key="filter.id"
                        :variant="filter"
                        :selected-filters="getSelectedFilters"
                        @change="changeFilter"
                      />
                    </div>
                    <span
                      v-if="option.label == 'Size'"
                      @click="openSizeGuide"
                      class="p0 ml30 inline-flex mt15 middle-xs no-underline h5 action size-guide pointer cl-secondary"
                    >
                      <span class="size-guide">{{ $t('Size guide') }}</span>
                      <img src="assets/size_guide.png" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <product-links
              v-if="getCurrentProduct.type_id =='grouped'"
              :products="getCurrentProduct.product_links"
            />
            <product-bundle-options
              v-if="getCurrentProduct.bundle_options && getCurrentProduct.bundle_options.length > 0"
              :product="getCurrentProduct"
            />
            <product-custom-options
              v-else-if="getCurrentProduct.custom_options && getCurrentProduct.custom_options.length > 0"
              :product="getCurrentProduct"
            />
            <div class="cart-box-wrap">
              <div class="row">
                  <div class="cart-box product-qty">
                    <div class="mpbtn minus">
                      <img src="assets/minus.png"  alt="minus-icon"/>
                    </div>
                    <div class="mpbtn field-container">
                      <input type="number" value="3" disabled="disabled" class="m0 no-outline cart-number" />
                    </div>
                    <div class="mpbtn plus">
                      <img src="assets/plus.png"  alt="plus-icon"/>
                    </div>
                  </div>
                  <div class="cart-box product-cart">
                    <add-to-cart
                      :product="getCurrentProduct"
                      :disabled="isAddToCartDisabled"
                      class="col-xs-12 col-sm-4 col-md-6"
                    />
                  </div>
                  <div class="cart-box product-wishlist">
                    <AddToWishlist :product="getCurrentProduct" />
                  </div>
              </div>
            </div>
            <!-- <div class="row m0">
              <add-to-cart
                :product="getCurrentProduct"
                :disabled="isAddToCartDisabled"
                class="col-xs-12 col-sm-4 col-md-6"
              />
            </div> 
            <div class="row py40 add-to-buttons">
              <div class="col-xs-6 col-sm-3 col-md-6">
                <AddToWishlist :product="getCurrentProduct" />
              </div>
              <div class="col-xs-6 col-sm-3 col-md-6">
                <AddToCompare :product="getCurrentProduct" />
              </div> 
            </div>-->
            <div class="details-product pt30">
              <div class="row">
                 <div class="details-box">
                  <div class="details-item">
                    <h5 @click="openAccordian(1)">Produtc Detail <i class="fa" :class="activeAcordian === 1 ? 'fa-minus' : 'fa-plus'" aria-hidden="true" /></h5>
                    <div class="product-sub fcontent-1">
                        <p>
                          Keep it luxe - even in your loungewear with this extra cosy two piece lounge set. Featuring checked panelling and sequin sleeves, this nude co-ord is stylish enough for any occasion!
                        </p>
                        <p>  
                          Please note, this item is one size and fits 8-12.
                        </p>
                        <ul>
                          <li>- 95% Cotton 5% Elastane </li>
                          <li>- Underarm to hem of top measures 42cm approx.</li>
                          <li>- Inside leg of bottoms measures 68cm approx.</li> 
                          <li>- Model is 5ft 5in</li>
                          <li>- Stretch fabric</li>
                        </ul>
                    </div>
                  </div>
                  <div class="details-item">
                    <h5  @click="openAccordian(2)">FABRIC & CARE <i class="fa" :class="activeAcordian === 1 ? 'fa-minus' : 'fa-plus'" aria-hidden="true" /></h5>
                    <div class="product-sub fcontent-2">
                        <p>
                          Keep it luxe - even in your loungewear with this extra cosy two piece lounge set. Featuring checked panelling and sequin sleeves, this nude co-ord is stylish enough for any occasion!
                        </p>
                        <p>  
                          Please note, this item is one size and fits 8-12.
                        </p>
                        <ul>
                          <li>- 95% Cotton 5% Elastane </li>
                          <li>- Underarm to hem of top measures 42cm approx.</li>
                          <li>- Inside leg of bottoms measures 68cm approx.</li> 
                          <li>- Model is 5ft 5in</li>
                          <li>- Stretch fabric</li>
                        </ul>
                    </div>
                  </div>
                  <div class="details-item">
                    <h5 @click="openAccordian(3)">DELIVERY</h5>
                    <div class="product-sub fcontent-3">
                        <p>
                          Keep it luxe - even in your loungewear with this extra cosy two piece lounge set. Featuring checked panelling and sequin sleeves, this nude co-ord is stylish enough for any occasion!
                        </p>
                        <p>  
                          Please note, this item is one size and fits 8-12.
                        </p>
                        <ul>
                          <li>- 95% Cotton 5% Elastane </li>
                          <li>- Underarm to hem of top measures 42cm approx.</li>
                          <li>- Inside leg of bottoms measures 68cm approx.</li> 
                          <li>- Model is 5ft 5in</li>
                          <li>- Stretch fabric</li>
                        </ul>
                    </div>
                  </div>
                  <div class="details-item">
                    <h5 @click="openAccordian(4)">RETURNS</h5>
                    <div class="product-sub fcontent-4">
                        <p>
                          Keep it luxe - even in your loungewear with this extra cosy two piece lounge set. Featuring checked panelling and sequin sleeves, this nude co-ord is stylish enough for any occasion!
                        </p>
                        <p>  
                          Please note, this item is one size and fits 8-12.
                        </p>
                        <ul>
                          <li>- 95% Cotton 5% Elastane </li>
                          <li>- Underarm to hem of top measures 42cm approx.</li>
                          <li>- Inside leg of bottoms measures 68cm approx.</li> 
                          <li>- Model is 5ft 5in</li>
                          <li>- Stretch fabric</li>
                        </ul>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</template>

<script>
import i18n from '@vue-storefront/i18n'
import VueOfflineMixin from 'vue-offline/mixin'
import config from 'config'
import RelatedProducts from 'theme/components/core/blocks/Product/Related.vue'
import Reviews from 'theme/components/core/blocks/Reviews/Reviews.vue'
import AddToCart from 'theme/components/core/AddToCart.vue'
import GenericSelector from 'theme/components/core/GenericSelector'
import ColorSelector from 'theme/components/core/ColorSelector.vue'
import SizeSelector from 'theme/components/core/SizeSelector.vue'
import Breadcrumbs from 'theme/components/core/Breadcrumbs.vue'
import ProductAttribute from 'theme/components/core/ProductAttribute.vue'
import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
import ProductLinks from 'theme/components/core/ProductLinks.vue'
import ProductCustomOptions from 'theme/components/core/ProductCustomOptions.vue'
import ProductBundleOptions from 'theme/components/core/ProductBundleOptions.vue'
import ProductGallery from 'theme/components/core/ProductGallery'
import Spinner from 'theme/components/core/Spinner'
import PromotedOffers from 'theme/components/theme/blocks/PromotedOffers/PromotedOffers'
import focusClean from 'theme/components/theme/directives/focusClean'
import WebShare from 'theme/components/theme/WebShare'
import BaseInputNumber from 'theme/components/core/blocks/Form/BaseInputNumber'
import SizeGuide from 'theme/components/core/blocks/Product/SizeGuide'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import AddToCompare from 'theme/components/core/blocks/Compare/AddToCompare'
import { mapGetters } from 'vuex'
import LazyHydrate from 'vue-lazy-hydration'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption.ts'
import { getAvailableFiltersByProduct, getSelectedFiltersByProduct } from '@vue-storefront/core/modules/catalog/helpers/filters'
import { isOptionAvailableAsync } from '@vue-storefront/core/modules/catalog/helpers/index'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import { ReviewModule } from '@vue-storefront/core/modules/review'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule, isModuleRegistered } from '@vue-storefront/core/lib/modules'
import { onlineHelper, isServer } from '@vue-storefront/core/helpers'
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import ProductPrice from 'theme/components/core/ProductPrice.vue'

export default {
  components: {
    AddToCart,
    AddToCompare,
    AddToWishlist,
    Breadcrumbs,
    ColorSelector,
    GenericSelector,
    ProductAttribute,
    ProductBundleOptions,
    ProductCustomOptions,
    ProductGallery,
    ProductLinks,
    PromotedOffers,
    RelatedProducts,
    Reviews,
    SizeSelector,
    WebShare,
    SizeGuide,
    LazyHydrate,
    ProductQuantity,
    ProductPrice
  },
  mixins: [ProductOption],
  directives: { focusClean },
  beforeCreate () {
    registerModule(ReviewModule)
    registerModule(RecentlyViewedModule)
  },
  data () {
    return {
      detailsOpen: false,
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      hasAttributesLoaded: false,
      manageQuantity: true,
      activeAcordian: null
    }
  },
  computed: {
    ...mapGetters({
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCurrentProduct: 'product/getCurrentProduct',
      getProductGallery: 'product/getProductGallery',
      getCurrentProductConfiguration: 'product/getCurrentProductConfiguration',
      getOriginalProduct: 'product/getOriginalProduct',
      attributesByCode: 'attribute/attributeListByCode',
      getCurrentCustomOptions: 'product/getCurrentCustomOptions'
    }),
    getOptionLabel () {
      return (option) => {
        const configName = option.attribute_code ? option.attribute_code : option.label.toLowerCase()
        return this.getCurrentProductConfiguration[configName] ? this.getCurrentProductConfiguration[configName].label : configName
      }
    },
    isOnline (value) {
      return onlineHelper.isOnline
    },
    structuredData () {
      return {
        availability: this.getCurrentProduct.stock && this.getCurrentProduct.stock.is_in_stock ? 'InStock' : 'OutOfStock'
      }
    },
    getProductOptions () {
      if (
        this.getCurrentProduct.errors &&
        Object.keys(this.getCurrentProduct.errors).length &&
        Object.keys(this.getCurrentProductConfiguration).length
      ) {
        return []
      }
      return this.getCurrentProduct.configurable_options
    },
    getOfflineImage () {
      return {
        src: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        error: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        loading: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height)
      }
    },
    getCustomAttributes () {
      return Object.values(this.attributesByCode).filter(a => {
        return a.is_visible && a.is_user_defined && (parseInt(a.is_visible_on_front) || a.is_visible_on_front === true) && this.getCurrentProduct[a.attribute_code]
      }).sort((a, b) => { return a.attribute_id > b.attribute_id })
    },
    getAvailableFilters () {
      return getAvailableFiltersByProduct(this.getCurrentProduct)
    },
    getSelectedFilters () {
      return getSelectedFiltersByProduct(this.getCurrentProduct, this.getCurrentProductConfiguration)
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.getCurrentProduct.type_id)
    },
    isAddToCartDisabled () {
      if (this.quantityError || this.isStockInfoLoading) {
        return false
      }

      return this.isOnline && !this.maxQuantity && this.manageQuantity && this.isSimpleOrConfigurable
    }
  },
  async mounted () {
    await this.$store.dispatch('recently-viewed/addItem', this.getCurrentProduct)
  },
  async asyncData ({ store, route, context }) {
    if (context) context.output.cacheTags.add('product')
    const product = await store.dispatch('product/loadProduct', { parentSku: route.params.parentSku, childSku: route && route.params && route.params.childSku ? route.params.childSku : null })
    const loadBreadcrumbsPromise = store.dispatch('product/loadProductBreadcrumbs', { product })
    if (isServer) await loadBreadcrumbsPromise
    catalogHooksExecutors.productPageVisited(product)
  },
  beforeRouteEnter (to, from, next) {
    if (isServer) {
      next()
    } else {
      next((vm) => {
        vm.getQuantity()
      })
    }
  },
  watch: {
    isOnline: {
      handler (isOnline) {
        if (isOnline) {
          this.getQuantity()
        }
      }
    }
  },
  methods: {
     openAccordian (digit) {
            if (this.activeAcordian !== null && this.activeAcordian !== digit) {
                document.getElementsByClassName(`fcontent-${this.activeAcordian}`)[0].classList.remove('active')
            }
            this.activeAcordian = this.activeAcordian === digit ? null : digit
            document.getElementsByClassName(`fcontent-${digit}`)[0].classList.toggle('active')
            },
    showDetails (event) {
      this.detailsOpen = true
      event.target.classList.add('hidden')
    },
    
    notifyOutStock () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(
          'The product is out of stock and cannot be added to the cart!'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    notifyWrongAttributes () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t(
          'No such configuration for the product. Please do choose another combination of attributes.'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    changeFilter (variant) {
      this.$bus.$emit(
        'filter-changed-product',
        Object.assign({ attribute_code: variant.type }, variant)
      )
      this.getQuantity()
    },
    openSizeGuide () {
      this.$bus.$emit('modal-show', 'modal-sizeguide')
    },
    isOptionAvailable (option) { // check if the option is available
      const currentConfig = Object.assign({}, this.getCurrentProductConfiguration)
      currentConfig[option.type] = option
      return isOptionAvailableAsync(this.$store, { product: this.getCurrentProduct, configuration: currentConfig })
    },
    async getQuantity () {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        const res = await this.$store.dispatch('stock/check', {
          product: this.getCurrentProduct,
          qty: this.getCurrentProduct.qty
        })

        this.manageQuantity = res.isManageStock
        this.maxQuantity = res.isManageStock ? res.qty : null
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    }
  },
  metaInfo () {
    const storeView = currentStoreView()
    return {
      link: [
        { rel: 'amphtml',
          href: this.$router.resolve(localizedRoute({
            name: this.getCurrentProduct.type_id + '-product-amp',
            params: {
              parentSku: this.getCurrentProduct.parentSku ? this.getCurrentProduct.parentSku : this.getCurrentProduct.sku,
              slug: this.getCurrentProduct.slug,
              childSku: this.getCurrentProduct.sku
            }
          }, storeView.storeCode)).href
        }
      ],
      title: htmlDecode(this.getCurrentProduct.meta_title || this.getCurrentProduct.name),
      meta: this.getCurrentProduct.meta_description ? [{ vmid: 'description', name: 'description', content: htmlDecode(this.getCurrentProduct.meta_description) }] : []
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-white: color(white);
$bg-secondary: color(secondary, $colors-background);

@mixin text($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

%d-flex {
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-direction: row;
}
%d-inline {
    display: inline-block;
    vertical-align: middle;
}
.product {
  &__add-to-compare {
    display: none;
    @media (min-width: 767px) {
      display: block;
    }
  }
}

.breadcrumbs {
  @media (max-width: 767px) {
    margin: 15px 0;
    padding: 15px 0 0 15px;
  }
}

.error {
  color: red;
  font-weight: bold;
  padding-bottom: 15px;
}
.data {
  @media (max-width: 767px) {
    border-bottom: 1px solid $bg-secondary;
  }
}

.image {
  @media (max-width: 1023px) {
    margin-bottom: 20px;
  }
}

.product-name {
  @media (max-width: 767px) {
    font-size: 36px;
  }
}

.variants-label {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.variants-wrapper {
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }

  .sizes {
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .size-guide {
    height: 40px;
    @media (max-width: 767px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.product-top-section {
  @media (max-width: 767px) {
    padding: 0;
    background-color: $color-white;
  }
}

.add-to-buttons {
  @media (max-width: 767px) {
    padding-top: 30px;
    margin-bottom: 40px;
  }
}

.details {
  @media (max-width: 767px) {
    padding: 50px 15px 15px;
  }
}

.details-title {
  padding: 0 8px;

  @media (max-width: 767px) {
    font-size: 18px;
    margin: 0;
  }
}

.details-wrapper {
  @media (max-width: 767px) {
    position: relative;
    max-height: 140px;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 14px;
  }

  &--open {
    max-height: none;
  }
}

.details-overlay {
  @media (max-width: 767px) {
    position: absolute;
    height: 75%;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    cursor: pointer;
    background: linear-gradient(rgba($color-white, 0), rgba($color-white, 1));
    &.hidden {
      display: none;
    }
  }
}

.action {
  &:hover {
    color: $color-tertiary;
  }
}

.attributes {
  list-style-type: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.product-image {
  mix-blend-mode: multiply;
  width: 460px;
}

.web-share {
  float: right;
}
.product-img {
    position: relative;
    img {
          height: auto;
          width: auto;
          max-width: 100%;
          max-height: 100%;
          margin: auto;
    }
}
.product-name {
    @include text(40px, #000, 500);
}
.product-code {
    @include text(16px, #888, 500);
    span {
      @include text(null, #000, 500);
    }
}
.rating-wrap {
    @extend %d-flex;
    .rating-point {
      margin-left: 15px;
      font-size: 22px;
      font-weight: normal;
      line-height: 60%;
      border-bottom: 1px solid #000;
  }
}
.rating-star {
    @extend %d-flex;
}
.star-icon {
    color: #F8CD00;
    height: 30px;
    fill: currentColor;
}
.star-empty {
    color: #DDDDDD;
    fill: currentColor;
}
.variants-label {
    @include text(20px, #000, null);
}
.size-guide {
    @extend %d-inline;
    line-height: 200%;
    margin-right: 5px;
    @include text(20px, #000, 500);
}
.common-select {
   select {
      font-size: 20px;
      padding: 0 15px;
      border: 2px solid #000;
      background: transparent;
      min-height: 70px;
      min-width: 322px;
      appearance: none;
      background-image: url(../assets/dropdown.png);
      background-repeat: no-repeat;
      background-position: calc(100% - 15px);
      outline: none;
  }
}
.cart-box {
    &:not(:last-child) {
      margin-right: 3%;
    }
    .cart-number {
          text-align: center;
        font-size: 24px;
        color: #000;
        border: none;
        display: block;
        background: transparent;
        width: 60px;
    }
    .field-container {
        width: 40px;
    }
}
.product-qty {
    border: 2px solid #000;
    min-height: 91px;
    padding: 10px 20px;
    justify-content: space-between;
    @extend %d-flex;
    width: 22%;
}
.product-cart {
   width: 60%;
   button {
      background: #024D70;
      font-size: 24px;
      min-height: 91px;
      font-weight: 500;
      text-transform: capitalize;
      max-width: 100%;
      @extend %d-flex;
      justify-content: center;
      &:before {
        background-image: url(../assets/wishlist-bag.svg);
        display: inline-block;
        background-repeat: no-repeat;
        height: 30px;
        width: 28px;
        background-size: auto 100%;
        content: "";
        vertical-align: middle;
        background-position: center center;
        margin-top: -9px;
        margin-right: 9px;
    }
  }
}
.product-wishlist {
  width: 100px;
   button {
      font-size: 0;
      border: 2px solid #000;
      width: 100%;
      min-height: 91px;
      text-align: center;
      @extend %d-flex;
      justify-content: center;
  }
}
.cart-box-wrap {
  .row {
    flex-flow: nowrap;
  }
}
.details-item {
    border-top: 1px solid #DDDDDD;
    padding: 30px 0;
    margin: 0;
   h5 {
      width: 100%;
      @extend %d-flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
  }
  .product-sub {
      margin-top: 15px;
      p {
        font-size: 20px;
        color: #888888;
        line-height: 140%;
        margin-bottom: 20px;
      }
      ul {
          list-style: none;
          margin: 20px 0 0;
          padding: 0;
      li {
          margin: 5px 0;
          font-size: 20px;
          color: #888888;
          line-height: 130%;
          font-weight: 500;
          font-family: 'Kessel 105 Text Book';
      }
    }
  }
}

</style>
