@font-face {
  font-family: 'Kessel 105 Text Heavy Oblique';
  src: url("/assets/fonts/Kessel105Text-HeavyOblique.eot");
  src: url("/assets/fonts/Kessel105Text-HeavyOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Kessel105Text-HeavyOblique.woff2") format("woff2"), url("/assets/fonts/Kessel105Text-HeavyOblique.woff") format("woff"), url("/assets/fonts/Kessel105Text-HeavyOblique.ttf") format("truetype"), url("/assets/fonts/Kessel105Text-HeavyOblique.svg#Kessel105Text-HeavyOblique") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kessel 105 Text';
  src: url("/assets/fonts/Kessel105Text-Heavy.eot");
  src: url("/assets/fonts/Kessel105Text-Heavy.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Kessel105Text-Heavy.woff2") format("woff2"), url("/assets/fonts/Kessel105Text-Heavy.woff") format("woff"), url("/assets/fonts/Kessel105Text-Heavy.ttf") format("truetype"), url("/assets/fonts/Kessel105Text-Heavy.svg#Kessel105Text-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kessel 105 Text Light Oblique';
  src: url("/assets/fonts/Kessel105Text-LightOblique.eot");
  src: url("/assets/fonts/Kessel105Text-LightOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Kessel105Text-LightOblique.woff2") format("woff2"), url("/assets/fonts/Kessel105Text-LightOblique.woff") format("woff"), url("/assets/fonts/Kessel105Text-LightOblique.ttf") format("truetype"), url("/assets/fonts/Kessel105Text-LightOblique.svg#Kessel105Text-LightOblique") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kessel 105 Text';
  src: url("/assets/fonts/Kessel105Text-Bold.eot");
  src: url("/assets/fonts/Kessel105Text-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Kessel105Text-Bold.woff2") format("woff2"), url("/assets/fonts/Kessel105Text-Bold.woff") format("woff"), url("/assets/fonts/Kessel105Text-Bold.ttf") format("truetype"), url("/assets/fonts/Kessel105Text-Bold.svg#Kessel105Text-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kessel 105 Text Book';
  src: url("/assets/fonts/Kessel105Text-Book.eot");
  src: url("/assets/fonts/Kessel105Text-Book.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Kessel105Text-Book.woff2") format("woff2"), url("/assets/fonts/Kessel105Text-Book.woff") format("woff"), url("/assets/fonts/Kessel105Text-Book.ttf") format("truetype"), url("/assets/fonts/Kessel105Text-Book.svg#Kessel105Text-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kessel 105 Text Book Oblique';
  src: url("/assets/fonts/Kessel105Text-BookOblique.eot");
  src: url("/assets/fonts/Kessel105Text-BookOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Kessel105Text-BookOblique.woff2") format("woff2"), url("/assets/fonts/Kessel105Text-BookOblique.woff") format("woff"), url("/assets/fonts/Kessel105Text-BookOblique.ttf") format("truetype"), url("/assets/fonts/Kessel105Text-BookOblique.svg#Kessel105Text-BookOblique") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kessel 105 Text';
  src: url("/assets/fonts/Kessel105Text-Light.eot");
  src: url("/assets/fonts/Kessel105Text-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Kessel105Text-Light.woff2") format("woff2"), url("/assets/fonts/Kessel105Text-Light.woff") format("woff"), url("/assets/fonts/Kessel105Text-Light.ttf") format("truetype"), url("/assets/fonts/Kessel105Text-Light.svg#Kessel105Text-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kessel 105 Text Bold Oblique';
  src: url("/assets/fonts/Kessel105Text-BoldOblique.eot");
  src: url("/assets/fonts/Kessel105Text-BoldOblique.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Kessel105Text-BoldOblique.woff2") format("woff2"), url("/assets/fonts/Kessel105Text-BoldOblique.woff") format("woff"), url("/assets/fonts/Kessel105Text-BoldOblique.ttf") format("truetype"), url("/assets/fonts/Kessel105Text-BoldOblique.svg#Kessel105Text-BoldOblique") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
}

.container-fluid {
  padding-right: 16px;
  padding-left: 16px;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 560px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 752px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 976px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1840px;
    max-width: 100%;
  }
}

.row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

[class^="col-"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-right: 8px;
  padding-left: 8px;
  max-width: 100%;
}

[class^="col-xs"],
[class*=" col-xs"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 8px;
  padding-left: 8px;
}

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.initial-order-xs {
  -webkit-box-ordinal-group: NaN;
  -ms-flex-order: initial;
  order: initial;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .initial-order-sm {
    -webkit-box-ordinal-group: NaN;
    -ms-flex-order: initial;
    order: initial;
  }
}

@media only screen and (min-width: 768px) {
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }
  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .initial-order-md {
    -webkit-box-ordinal-group: NaN;
    -ms-flex-order: initial;
    order: initial;
  }
}

@media only screen and (min-width: 992px) {
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }
  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .initial-order-lg {
    -webkit-box-ordinal-group: NaN;
    -ms-flex-order: initial;
    order: initial;
  }
}

@media only screen and (min-width: 1200px) {
  .col-xl,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-offset-0,
  .col-xl-offset-1,
  .col-xl-offset-2,
  .col-xl-offset-3,
  .col-xl-offset-4,
  .col-xl-offset-5,
  .col-xl-offset-6,
  .col-xl-offset-7,
  .col-xl-offset-8,
  .col-xl-offset-9,
  .col-xl-offset-10,
  .col-xl-offset-11,
  .col-xl-offset-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }
  .col-xl {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-xl-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-xl-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-xl-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-xl-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-xl-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-xl-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-xl-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-xl-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-xl-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-xl-offset-0 {
    margin-left: 0;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-xl {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-xl {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-xl {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-xl {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-xl {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-xl {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-xl {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-xl {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-xl {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-xl {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .initial-order-xl {
    -webkit-box-ordinal-group: NaN;
    -ms-flex-order: initial;
    order: initial;
  }
}

@media only screen and (max-width: 575px) {
  .hidden-xs {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hidden-sm {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .hidden-xl {
    display: none;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #4f4f4f;
  position: relative;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#app {
  overflow-x: hidden;
}

#viewport {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-family: 'Kessel 105 Text';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Kessel 105 Text';
}

h1,
.h1 {
  font-size: 48px;
}

h2,
.h2 {
  font-size: 36px;
}

@media (max-width: 767px) {
  h2,
  .h2 {
    font-size: 24px;
  }
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

.serif {
  font-family: 'Kessel 105 Text';
}

.sans-serif {
  font-family: 'Kessel 105 Text';
}

.uppercase {
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-justify {
  text-align: justify;
}

.weight-400 {
  font-weight: 400;
}

.weight-700 {
  font-weight: 700;
}

.lh16 {
  line-height: 16px;
}

.lh20 {
  line-height: 20px;
}

.lh25 {
  line-height: 25px;
}

.lh30 {
  line-height: 30px;
}

.lh35 {
  line-height: 35px;
}

.lh40 {
  line-height: 40px;
}

.fs-medium-small {
  font-size: 14px;
}

.fs-medium {
  font-size: 18px;
}

.fs-large {
  font-size: 24px;
}

.fs-big {
  font-size: 36px;
}

.fs16 {
  font-size: 16px;
}

.cl-transparent {
  color: transparent;
}

.cl-black {
  color: #000;
}

.cl-white {
  color: #fff;
}

.cl-white-smoke {
  color: #f2f2f2;
}

.cl-gainsboro {
  color: #e0e0e0;
}

.cl-silver {
  color: #bdbdbd;
}

.cl-gray {
  color: #828282;
}

.cl-suva-gray {
  color: #8e8e8e;
}

.cl-matterhorn {
  color: #4f4f4f;
}

.cl-burnt-sienna {
  color: #eb5757;
}

.cl-buccaneer {
  color: #755;
}

.cl-forest-green {
  color: #308c14;
}

.cl-puerto-rico {
  color: #4dba87;
}

.cl-mine-shaft {
  color: #333;
}

.cl-primary {
  color: #4f4f4f;
}

.\:cl-primary:hover {
  color: #4f4f4f;
}

.cl-secondary {
  color: #828282;
}

.\:cl-secondary:hover {
  color: #4f4f4f;
}

.cl-accent {
  color: #4f4f4f;
}

.\:cl-accent:hover {
  color: #000;
}

.cl-tertiary {
  color: #bdbdbd;
}

.cl-success {
  color: #4dba87;
}

.cl-warning {
  color: #755;
}

.cl-error {
  color: #eb5757;
}

.cl-bg-primary {
  color: #fff;
}

.\:cl-bg-primary:hover {
  color: #bdbdbd;
}

.cl-bg-secondary {
  color: #f2f2f2;
}

.\:cl-bg-secondary:hover {
  color: #e0e0e0;
}

.cl-bg-tertiary {
  color: #8e8e8e;
}

.cl-brdr-primary {
  color: #bdbdbd;
}

.cl-brdr-secondary {
  color: #e0e0e0;
}

.bg-cl-transparent {
  background-color: transparent;
}

.bg-cl-black {
  background-color: #000;
}

.bg-cl-white {
  background-color: #fff;
}

.bg-cl-white-smoke {
  background-color: #f2f2f2;
}

.bg-cl-gainsboro {
  background-color: #e0e0e0;
}

.bg-cl-silver {
  background-color: #bdbdbd;
}

.bg-cl-gray {
  background-color: #828282;
}

.bg-cl-suva-gray {
  background-color: #8e8e8e;
}

.bg-cl-matterhorn {
  background-color: #4f4f4f;
}

.bg-cl-burnt-sienna {
  background-color: #eb5757;
}

.bg-cl-buccaneer {
  background-color: #755;
}

.bg-cl-forest-green {
  background-color: #308c14;
}

.bg-cl-puerto-rico {
  background-color: #4dba87;
}

.bg-cl-mine-shaft {
  background-color: #333;
}

.bg-cl-primary {
  background-color: #fff;
}

.\:bg-cl-primary:hover {
  background-color: #bdbdbd;
}

.bg-cl-secondary {
  background-color: #f2f2f2;
}

.\:bg-cl-secondary:hover {
  background-color: #e0e0e0;
}

.bg-cl-tertiary {
  background-color: #8e8e8e;
}

.bg-cl-th-primary {
  background-color: #4f4f4f;
}

.\:bg-cl-th-primary:hover {
  background-color: #4f4f4f;
}

.bg-cl-th-secondary {
  background-color: #828282;
}

.\:bg-cl-th-secondary:hover {
  background-color: #4f4f4f;
}

.bg-cl-th-accent {
  background-color: #4f4f4f;
}

.\:bg-cl-th-accent:hover {
  background-color: #000;
}

.bg-cl-th-tertiary {
  background-color: #bdbdbd;
}

.bg-cl-th-success {
  background-color: #4dba87;
}

.bg-cl-th-warning {
  background-color: #755;
}

.bg-cl-th-error {
  background-color: #eb5757;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block {
  display: block;
}

.center-self {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.border-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-100 {
  height: 100%;
}

.w-50 {
  width: 50%;
}

.mw-100 {
  max-width: 100%;
}

.brdr-none {
  border: none;
}

.brdr-1 {
  border: 1px solid;
}

.brdr-top-1 {
  border-top-width: 1px;
  border-top-style: solid;
}

.brdr-bottom-1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.brdr-left-1 {
  border-left-width: 1px;
  border-left-style: solid;
}

.brdr-right-1 {
  border-right-width: 1px;
  border-right-style: solid;
}

.brdr-square {
  border-radius: 0;
}

.brdr-circle {
  border-radius: 50%;
}

.brdr-cl-transparent {
  border-color: transparent;
}

.brdr-cl-black {
  border-color: #000;
}

.brdr-cl-white {
  border-color: #fff;
}

.brdr-cl-white-smoke {
  border-color: #f2f2f2;
}

.brdr-cl-gainsboro {
  border-color: #e0e0e0;
}

.brdr-cl-silver {
  border-color: #bdbdbd;
}

.brdr-cl-gray {
  border-color: #828282;
}

.brdr-cl-suva-gray {
  border-color: #8e8e8e;
}

.brdr-cl-matterhorn {
  border-color: #4f4f4f;
}

.brdr-cl-burnt-sienna {
  border-color: #eb5757;
}

.brdr-cl-buccaneer {
  border-color: #755;
}

.brdr-cl-forest-green {
  border-color: #308c14;
}

.brdr-cl-puerto-rico {
  border-color: #4dba87;
}

.brdr-cl-mine-shaft {
  border-color: #333;
}

.brdr-cl-primary {
  border-color: #bdbdbd;
}

.brdr-cl-secondary {
  border-color: #e0e0e0;
}

.brdr-cl-th-primary {
  border-color: #4f4f4f;
}

.\:brdr-cl-th-primary:hover {
  border-color: #4f4f4f;
}

.brdr-cl-th-secondary {
  border-color: #828282;
}

.\:brdr-cl-th-secondary:hover {
  border-color: #4f4f4f;
}

.brdr-cl-th-accent {
  border-color: #4f4f4f;
}

.\:brdr-cl-th-accent:hover {
  border-color: #000;
}

.brdr-cl-th-tertiary {
  border-color: #bdbdbd;
}

.brdr-cl-th-success {
  border-color: #4dba87;
}

.brdr-cl-th-warning {
  border-color: #755;
}

.brdr-cl-th-error {
  border-color: #eb5757;
}

.brdr-cl-bg-primary {
  border-color: #fff;
}

.\:brdr-cl-bg-primary:hover {
  border-color: #bdbdbd;
}

.brdr-cl-bg-secondary {
  border-color: #f2f2f2;
}

.\:brdr-cl-bg-secondary:hover {
  border-color: #e0e0e0;
}

.brdr-cl-bg-tertiary {
  border-color: #8e8e8e;
}

.m0 {
  margin: 0px;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m12 {
  margin: 12px;
}

.m13 {
  margin: 13px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.m25 {
  margin: 25px;
}

.m45 {
  margin: 45px;
}

.m50 {
  margin: 50px;
}

.m5p {
  margin: 5%;
}

.mx0 {
  margin-left: 0px;
  margin-right: 0px;
}

.mx2 {
  margin-left: 2px;
  margin-right: 2px;
}

.mx5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mx20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx25 {
  margin-left: 25px;
  margin-right: 25px;
}

.mx30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx35 {
  margin-left: 35px;
  margin-right: 35px;
}

.mx40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx45 {
  margin-left: 45px;
  margin-right: 45px;
}

.mx50 {
  margin-left: 50px;
  margin-right: 50px;
}

.mx55 {
  margin-left: 55px;
  margin-right: 55px;
}

.mx60 {
  margin-left: 60px;
  margin-right: 60px;
}

.mx65 {
  margin-left: 65px;
  margin-right: 65px;
}

.mx70 {
  margin-left: 70px;
  margin-right: 70px;
}

.mx75 {
  margin-left: 75px;
  margin-right: 75px;
}

.mx80 {
  margin-left: 80px;
  margin-right: 80px;
}

.mx5p {
  margin-left: 5%;
  margin-right: 5%;
}

.my0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.my30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.my40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my45 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.my50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my55 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.my60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my65 {
  margin-top: 65px;
  margin-bottom: 65px;
}

.my70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.my75 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.my80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my5p {
  margin-top: 5%;
  margin-bottom: 5%;
}

.mt0 {
  margin-top: 0px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt16 {
  margin-top: 16px;
}

.mt17 {
  margin-top: 17px;
}

.mt18 {
  margin-top: 18px;
}

.mt19 {
  margin-top: 19px;
}

.mt20 {
  margin-top: 20px;
}

.mt21 {
  margin-top: 21px;
}

.mt22 {
  margin-top: 22px;
}

.mt23 {
  margin-top: 23px;
}

.mt24 {
  margin-top: 24px;
}

.mt25 {
  margin-top: 25px;
}

.mt26 {
  margin-top: 26px;
}

.mt27 {
  margin-top: 27px;
}

.mt28 {
  margin-top: 28px;
}

.mt29 {
  margin-top: 29px;
}

.mt30 {
  margin-top: 30px;
}

.mt31 {
  margin-top: 31px;
}

.mt32 {
  margin-top: 32px;
}

.mt33 {
  margin-top: 33px;
}

.mt34 {
  margin-top: 34px;
}

.mt35 {
  margin-top: 35px;
}

.mt36 {
  margin-top: 36px;
}

.mt37 {
  margin-top: 37px;
}

.mt38 {
  margin-top: 38px;
}

.mt39 {
  margin-top: 39px;
}

.mt40 {
  margin-top: 40px;
}

.mt41 {
  margin-top: 41px;
}

.mt42 {
  margin-top: 42px;
}

.mt43 {
  margin-top: 43px;
}

.mt44 {
  margin-top: 44px;
}

.mt45 {
  margin-top: 45px;
}

.mt46 {
  margin-top: 46px;
}

.mt47 {
  margin-top: 47px;
}

.mt48 {
  margin-top: 48px;
}

.mt49 {
  margin-top: 49px;
}

.mt50 {
  margin-top: 50px;
}

.mt51 {
  margin-top: 51px;
}

.mt52 {
  margin-top: 52px;
}

.mt53 {
  margin-top: 53px;
}

.mt54 {
  margin-top: 54px;
}

.mt55 {
  margin-top: 55px;
}

.mt56 {
  margin-top: 56px;
}

.mt57 {
  margin-top: 57px;
}

.mt58 {
  margin-top: 58px;
}

.mt59 {
  margin-top: 59px;
}

.mt60 {
  margin-top: 60px;
}

.mt61 {
  margin-top: 61px;
}

.mt62 {
  margin-top: 62px;
}

.mt63 {
  margin-top: 63px;
}

.mt64 {
  margin-top: 64px;
}

.mt65 {
  margin-top: 65px;
}

.mt66 {
  margin-top: 66px;
}

.mt67 {
  margin-top: 67px;
}

.mt68 {
  margin-top: 68px;
}

.mt69 {
  margin-top: 69px;
}

.mt70 {
  margin-top: 70px;
}

.mt75 {
  margin-top: 75px;
}

.mt80 {
  margin-top: 80px;
}

.mt5p {
  margin-top: 5%;
}

.mb0 {
  margin-bottom: 0px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb17 {
  margin-bottom: 17px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb19 {
  margin-bottom: 19px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb21 {
  margin-bottom: 21px;
}

.mb22 {
  margin-bottom: 22px;
}

.mb23 {
  margin-bottom: 23px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb26 {
  margin-bottom: 26px;
}

.mb27 {
  margin-bottom: 27px;
}

.mb28 {
  margin-bottom: 28px;
}

.mb29 {
  margin-bottom: 29px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb31 {
  margin-bottom: 31px;
}

.mb32 {
  margin-bottom: 32px;
}

.mb33 {
  margin-bottom: 33px;
}

.mb34 {
  margin-bottom: 34px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb36 {
  margin-bottom: 36px;
}

.mb37 {
  margin-bottom: 37px;
}

.mb38 {
  margin-bottom: 38px;
}

.mb39 {
  margin-bottom: 39px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb41 {
  margin-bottom: 41px;
}

.mb42 {
  margin-bottom: 42px;
}

.mb43 {
  margin-bottom: 43px;
}

.mb44 {
  margin-bottom: 44px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb46 {
  margin-bottom: 46px;
}

.mb47 {
  margin-bottom: 47px;
}

.mb48 {
  margin-bottom: 48px;
}

.mb49 {
  margin-bottom: 49px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb51 {
  margin-bottom: 51px;
}

.mb52 {
  margin-bottom: 52px;
}

.mb53 {
  margin-bottom: 53px;
}

.mb54 {
  margin-bottom: 54px;
}

.mb55 {
  margin-bottom: 55px;
}

.mb56 {
  margin-bottom: 56px;
}

.mb57 {
  margin-bottom: 57px;
}

.mb58 {
  margin-bottom: 58px;
}

.mb59 {
  margin-bottom: 59px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb61 {
  margin-bottom: 61px;
}

.mb62 {
  margin-bottom: 62px;
}

.mb63 {
  margin-bottom: 63px;
}

.mb64 {
  margin-bottom: 64px;
}

.mb65 {
  margin-bottom: 65px;
}

.mb66 {
  margin-bottom: 66px;
}

.mb67 {
  margin-bottom: 67px;
}

.mb68 {
  margin-bottom: 68px;
}

.mb69 {
  margin-bottom: 69px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb75 {
  margin-bottom: 75px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb5p {
  margin-bottom: 5%;
}

.ml0 {
  margin-left: 0px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml16 {
  margin-left: 16px;
}

.ml17 {
  margin-left: 17px;
}

.ml18 {
  margin-left: 18px;
}

.ml19 {
  margin-left: 19px;
}

.ml20 {
  margin-left: 20px;
}

.ml21 {
  margin-left: 21px;
}

.ml22 {
  margin-left: 22px;
}

.ml23 {
  margin-left: 23px;
}

.ml24 {
  margin-left: 24px;
}

.ml25 {
  margin-left: 25px;
}

.ml26 {
  margin-left: 26px;
}

.ml27 {
  margin-left: 27px;
}

.ml28 {
  margin-left: 28px;
}

.ml29 {
  margin-left: 29px;
}

.ml30 {
  margin-left: 30px;
}

.ml31 {
  margin-left: 31px;
}

.ml32 {
  margin-left: 32px;
}

.ml33 {
  margin-left: 33px;
}

.ml34 {
  margin-left: 34px;
}

.ml35 {
  margin-left: 35px;
}

.ml36 {
  margin-left: 36px;
}

.ml37 {
  margin-left: 37px;
}

.ml38 {
  margin-left: 38px;
}

.ml39 {
  margin-left: 39px;
}

.ml40 {
  margin-left: 40px;
}

.ml41 {
  margin-left: 41px;
}

.ml42 {
  margin-left: 42px;
}

.ml43 {
  margin-left: 43px;
}

.ml44 {
  margin-left: 44px;
}

.ml45 {
  margin-left: 45px;
}

.ml46 {
  margin-left: 46px;
}

.ml47 {
  margin-left: 47px;
}

.ml48 {
  margin-left: 48px;
}

.ml49 {
  margin-left: 49px;
}

.ml50 {
  margin-left: 50px;
}

.ml51 {
  margin-left: 51px;
}

.ml52 {
  margin-left: 52px;
}

.ml53 {
  margin-left: 53px;
}

.ml54 {
  margin-left: 54px;
}

.ml55 {
  margin-left: 55px;
}

.ml56 {
  margin-left: 56px;
}

.ml57 {
  margin-left: 57px;
}

.ml58 {
  margin-left: 58px;
}

.ml59 {
  margin-left: 59px;
}

.ml60 {
  margin-left: 60px;
}

.ml61 {
  margin-left: 61px;
}

.ml62 {
  margin-left: 62px;
}

.ml63 {
  margin-left: 63px;
}

.ml64 {
  margin-left: 64px;
}

.ml65 {
  margin-left: 65px;
}

.ml66 {
  margin-left: 66px;
}

.ml67 {
  margin-left: 67px;
}

.ml68 {
  margin-left: 68px;
}

.ml69 {
  margin-left: 69px;
}

.ml70 {
  margin-left: 70px;
}

.ml75 {
  margin-left: 75px;
}

.ml80 {
  margin-left: 80px;
}

.ml5p {
  margin-left: 5%;
}

.mr0 {
  margin-right: 0px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr16 {
  margin-right: 16px;
}

.mr17 {
  margin-right: 17px;
}

.mr18 {
  margin-right: 18px;
}

.mr19 {
  margin-right: 19px;
}

.mr20 {
  margin-right: 20px;
}

.mr21 {
  margin-right: 21px;
}

.mr22 {
  margin-right: 22px;
}

.mr23 {
  margin-right: 23px;
}

.mr24 {
  margin-right: 24px;
}

.mr25 {
  margin-right: 25px;
}

.mr26 {
  margin-right: 26px;
}

.mr27 {
  margin-right: 27px;
}

.mr28 {
  margin-right: 28px;
}

.mr29 {
  margin-right: 29px;
}

.mr30 {
  margin-right: 30px;
}

.mr31 {
  margin-right: 31px;
}

.mr32 {
  margin-right: 32px;
}

.mr33 {
  margin-right: 33px;
}

.mr34 {
  margin-right: 34px;
}

.mr35 {
  margin-right: 35px;
}

.mr36 {
  margin-right: 36px;
}

.mr37 {
  margin-right: 37px;
}

.mr38 {
  margin-right: 38px;
}

.mr39 {
  margin-right: 39px;
}

.mr40 {
  margin-right: 40px;
}

.mr41 {
  margin-right: 41px;
}

.mr42 {
  margin-right: 42px;
}

.mr43 {
  margin-right: 43px;
}

.mr44 {
  margin-right: 44px;
}

.mr45 {
  margin-right: 45px;
}

.mr46 {
  margin-right: 46px;
}

.mr47 {
  margin-right: 47px;
}

.mr48 {
  margin-right: 48px;
}

.mr49 {
  margin-right: 49px;
}

.mr50 {
  margin-right: 50px;
}

.mr51 {
  margin-right: 51px;
}

.mr52 {
  margin-right: 52px;
}

.mr53 {
  margin-right: 53px;
}

.mr54 {
  margin-right: 54px;
}

.mr55 {
  margin-right: 55px;
}

.mr56 {
  margin-right: 56px;
}

.mr57 {
  margin-right: 57px;
}

.mr58 {
  margin-right: 58px;
}

.mr59 {
  margin-right: 59px;
}

.mr60 {
  margin-right: 60px;
}

.mr61 {
  margin-right: 61px;
}

.mr62 {
  margin-right: 62px;
}

.mr63 {
  margin-right: 63px;
}

.mr64 {
  margin-right: 64px;
}

.mr65 {
  margin-right: 65px;
}

.mr66 {
  margin-right: 66px;
}

.mr67 {
  margin-right: 67px;
}

.mr68 {
  margin-right: 68px;
}

.mr69 {
  margin-right: 69px;
}

.mr70 {
  margin-right: 70px;
}

.mr75 {
  margin-right: 75px;
}

.mr80 {
  margin-right: 80px;
}

.mr5p {
  margin-right: 5%;
}

.p0 {
  padding: 0px;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p12 {
  padding: 12px;
}

.p13 {
  padding: 13px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 20px;
}

.p25 {
  padding: 25px;
}

.p45 {
  padding: 45px;
}

.p50 {
  padding: 50px;
}

.px0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px2 {
  padding-left: 2px;
  padding-right: 2px;
}

.px5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px25 {
  padding-left: 25px;
  padding-right: 25px;
}

.px30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px35 {
  padding-left: 35px;
  padding-right: 35px;
}

.px40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px45 {
  padding-left: 45px;
  padding-right: 45px;
}

.px50 {
  padding-left: 50px;
  padding-right: 50px;
}

.px55 {
  padding-left: 55px;
  padding-right: 55px;
}

.px60 {
  padding-left: 60px;
  padding-right: 60px;
}

.px65 {
  padding-left: 65px;
  padding-right: 65px;
}

.px70 {
  padding-left: 70px;
  padding-right: 70px;
}

.px75 {
  padding-left: 75px;
  padding-right: 75px;
}

.px80 {
  padding-left: 80px;
  padding-right: 80px;
}

.px10p {
  padding-left: 10%;
  padding-right: 10%;
}

.py0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.py40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.py50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py55 {
  padding-top: 55px;
  padding-bottom: 55px;
}

.py60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py65 {
  padding-top: 65px;
  padding-bottom: 65px;
}

.py70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.py75 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.py80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pt0 {
  padding-top: 0px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt16 {
  padding-top: 16px;
}

.pt17 {
  padding-top: 17px;
}

.pt18 {
  padding-top: 18px;
}

.pt19 {
  padding-top: 19px;
}

.pt20 {
  padding-top: 20px;
}

.pt21 {
  padding-top: 21px;
}

.pt22 {
  padding-top: 22px;
}

.pt23 {
  padding-top: 23px;
}

.pt24 {
  padding-top: 24px;
}

.pt25 {
  padding-top: 25px;
}

.pt26 {
  padding-top: 26px;
}

.pt27 {
  padding-top: 27px;
}

.pt28 {
  padding-top: 28px;
}

.pt29 {
  padding-top: 29px;
}

.pt30 {
  padding-top: 30px;
}

.pt31 {
  padding-top: 31px;
}

.pt32 {
  padding-top: 32px;
}

.pt33 {
  padding-top: 33px;
}

.pt34 {
  padding-top: 34px;
}

.pt35 {
  padding-top: 35px;
}

.pt36 {
  padding-top: 36px;
}

.pt37 {
  padding-top: 37px;
}

.pt38 {
  padding-top: 38px;
}

.pt39 {
  padding-top: 39px;
}

.pt40 {
  padding-top: 40px;
}

.pt41 {
  padding-top: 41px;
}

.pt42 {
  padding-top: 42px;
}

.pt43 {
  padding-top: 43px;
}

.pt44 {
  padding-top: 44px;
}

.pt45 {
  padding-top: 45px;
}

.pt46 {
  padding-top: 46px;
}

.pt47 {
  padding-top: 47px;
}

.pt48 {
  padding-top: 48px;
}

.pt49 {
  padding-top: 49px;
}

.pt50 {
  padding-top: 50px;
}

.pt51 {
  padding-top: 51px;
}

.pt52 {
  padding-top: 52px;
}

.pt53 {
  padding-top: 53px;
}

.pt54 {
  padding-top: 54px;
}

.pt55 {
  padding-top: 55px;
}

.pt56 {
  padding-top: 56px;
}

.pt57 {
  padding-top: 57px;
}

.pt58 {
  padding-top: 58px;
}

.pt59 {
  padding-top: 59px;
}

.pt60 {
  padding-top: 60px;
}

.pt61 {
  padding-top: 61px;
}

.pt62 {
  padding-top: 62px;
}

.pt63 {
  padding-top: 63px;
}

.pt64 {
  padding-top: 64px;
}

.pt65 {
  padding-top: 65px;
}

.pt66 {
  padding-top: 66px;
}

.pt67 {
  padding-top: 67px;
}

.pt68 {
  padding-top: 68px;
}

.pt69 {
  padding-top: 69px;
}

.pt70 {
  padding-top: 70px;
}

.pt75 {
  padding-top: 75px;
}

.pt80 {
  padding-top: 80px;
}

.pb0 {
  padding-bottom: 0px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb17 {
  padding-bottom: 17px;
}

.pb18 {
  padding-bottom: 18px;
}

.pb19 {
  padding-bottom: 19px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb21 {
  padding-bottom: 21px;
}

.pb22 {
  padding-bottom: 22px;
}

.pb23 {
  padding-bottom: 23px;
}

.pb24 {
  padding-bottom: 24px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb26 {
  padding-bottom: 26px;
}

.pb27 {
  padding-bottom: 27px;
}

.pb28 {
  padding-bottom: 28px;
}

.pb29 {
  padding-bottom: 29px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb31 {
  padding-bottom: 31px;
}

.pb32 {
  padding-bottom: 32px;
}

.pb33 {
  padding-bottom: 33px;
}

.pb34 {
  padding-bottom: 34px;
}

.pb35 {
  padding-bottom: 35px;
}

.pb36 {
  padding-bottom: 36px;
}

.pb37 {
  padding-bottom: 37px;
}

.pb38 {
  padding-bottom: 38px;
}

.pb39 {
  padding-bottom: 39px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb41 {
  padding-bottom: 41px;
}

.pb42 {
  padding-bottom: 42px;
}

.pb43 {
  padding-bottom: 43px;
}

.pb44 {
  padding-bottom: 44px;
}

.pb45 {
  padding-bottom: 45px;
}

.pb46 {
  padding-bottom: 46px;
}

.pb47 {
  padding-bottom: 47px;
}

.pb48 {
  padding-bottom: 48px;
}

.pb49 {
  padding-bottom: 49px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb51 {
  padding-bottom: 51px;
}

.pb52 {
  padding-bottom: 52px;
}

.pb53 {
  padding-bottom: 53px;
}

.pb54 {
  padding-bottom: 54px;
}

.pb55 {
  padding-bottom: 55px;
}

.pb56 {
  padding-bottom: 56px;
}

.pb57 {
  padding-bottom: 57px;
}

.pb58 {
  padding-bottom: 58px;
}

.pb59 {
  padding-bottom: 59px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb61 {
  padding-bottom: 61px;
}

.pb62 {
  padding-bottom: 62px;
}

.pb63 {
  padding-bottom: 63px;
}

.pb64 {
  padding-bottom: 64px;
}

.pb65 {
  padding-bottom: 65px;
}

.pb66 {
  padding-bottom: 66px;
}

.pb67 {
  padding-bottom: 67px;
}

.pb68 {
  padding-bottom: 68px;
}

.pb69 {
  padding-bottom: 69px;
}

.pb70 {
  padding-bottom: 70px;
}

.pb75 {
  padding-bottom: 75px;
}

.pb80 {
  padding-bottom: 80px;
}

.pr0 {
  padding-right: 0px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr16 {
  padding-right: 16px;
}

.pr17 {
  padding-right: 17px;
}

.pr18 {
  padding-right: 18px;
}

.pr19 {
  padding-right: 19px;
}

.pr20 {
  padding-right: 20px;
}

.pr21 {
  padding-right: 21px;
}

.pr22 {
  padding-right: 22px;
}

.pr23 {
  padding-right: 23px;
}

.pr24 {
  padding-right: 24px;
}

.pr25 {
  padding-right: 25px;
}

.pr26 {
  padding-right: 26px;
}

.pr27 {
  padding-right: 27px;
}

.pr28 {
  padding-right: 28px;
}

.pr29 {
  padding-right: 29px;
}

.pr30 {
  padding-right: 30px;
}

.pr31 {
  padding-right: 31px;
}

.pr32 {
  padding-right: 32px;
}

.pr33 {
  padding-right: 33px;
}

.pr34 {
  padding-right: 34px;
}

.pr35 {
  padding-right: 35px;
}

.pr36 {
  padding-right: 36px;
}

.pr37 {
  padding-right: 37px;
}

.pr38 {
  padding-right: 38px;
}

.pr39 {
  padding-right: 39px;
}

.pr40 {
  padding-right: 40px;
}

.pr41 {
  padding-right: 41px;
}

.pr42 {
  padding-right: 42px;
}

.pr43 {
  padding-right: 43px;
}

.pr44 {
  padding-right: 44px;
}

.pr45 {
  padding-right: 45px;
}

.pr46 {
  padding-right: 46px;
}

.pr47 {
  padding-right: 47px;
}

.pr48 {
  padding-right: 48px;
}

.pr49 {
  padding-right: 49px;
}

.pr50 {
  padding-right: 50px;
}

.pr51 {
  padding-right: 51px;
}

.pr52 {
  padding-right: 52px;
}

.pr53 {
  padding-right: 53px;
}

.pr54 {
  padding-right: 54px;
}

.pr55 {
  padding-right: 55px;
}

.pr56 {
  padding-right: 56px;
}

.pr57 {
  padding-right: 57px;
}

.pr58 {
  padding-right: 58px;
}

.pr59 {
  padding-right: 59px;
}

.pr60 {
  padding-right: 60px;
}

.pr61 {
  padding-right: 61px;
}

.pr62 {
  padding-right: 62px;
}

.pr63 {
  padding-right: 63px;
}

.pr64 {
  padding-right: 64px;
}

.pr65 {
  padding-right: 65px;
}

.pr66 {
  padding-right: 66px;
}

.pr67 {
  padding-right: 67px;
}

.pr68 {
  padding-right: 68px;
}

.pr69 {
  padding-right: 69px;
}

.pr70 {
  padding-right: 70px;
}

.pr75 {
  padding-right: 75px;
}

.pr80 {
  padding-right: 80px;
}

.pl0 {
  padding-left: 0px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl16 {
  padding-left: 16px;
}

.pl17 {
  padding-left: 17px;
}

.pl18 {
  padding-left: 18px;
}

.pl19 {
  padding-left: 19px;
}

.pl20 {
  padding-left: 20px;
}

.pl21 {
  padding-left: 21px;
}

.pl22 {
  padding-left: 22px;
}

.pl23 {
  padding-left: 23px;
}

.pl24 {
  padding-left: 24px;
}

.pl25 {
  padding-left: 25px;
}

.pl26 {
  padding-left: 26px;
}

.pl27 {
  padding-left: 27px;
}

.pl28 {
  padding-left: 28px;
}

.pl29 {
  padding-left: 29px;
}

.pl30 {
  padding-left: 30px;
}

.pl31 {
  padding-left: 31px;
}

.pl32 {
  padding-left: 32px;
}

.pl33 {
  padding-left: 33px;
}

.pl34 {
  padding-left: 34px;
}

.pl35 {
  padding-left: 35px;
}

.pl36 {
  padding-left: 36px;
}

.pl37 {
  padding-left: 37px;
}

.pl38 {
  padding-left: 38px;
}

.pl39 {
  padding-left: 39px;
}

.pl40 {
  padding-left: 40px;
}

.pl41 {
  padding-left: 41px;
}

.pl42 {
  padding-left: 42px;
}

.pl43 {
  padding-left: 43px;
}

.pl44 {
  padding-left: 44px;
}

.pl45 {
  padding-left: 45px;
}

.pl46 {
  padding-left: 46px;
}

.pl47 {
  padding-left: 47px;
}

.pl48 {
  padding-left: 48px;
}

.pl49 {
  padding-left: 49px;
}

.pl50 {
  padding-left: 50px;
}

.pl51 {
  padding-left: 51px;
}

.pl52 {
  padding-left: 52px;
}

.pl53 {
  padding-left: 53px;
}

.pl54 {
  padding-left: 54px;
}

.pl55 {
  padding-left: 55px;
}

.pl56 {
  padding-left: 56px;
}

.pl57 {
  padding-left: 57px;
}

.pl58 {
  padding-left: 58px;
}

.pl59 {
  padding-left: 59px;
}

.pl60 {
  padding-left: 60px;
}

.pl61 {
  padding-left: 61px;
}

.pl62 {
  padding-left: 62px;
}

.pl63 {
  padding-left: 63px;
}

.pl64 {
  padding-left: 64px;
}

.pl65 {
  padding-left: 65px;
}

.pl66 {
  padding-left: 66px;
}

.pl67 {
  padding-left: 67px;
}

.pl68 {
  padding-left: 68px;
}

.pl69 {
  padding-left: 69px;
}

.pl70 {
  padding-left: 70px;
}

.pl75 {
  padding-left: 75px;
}

.pl80 {
  padding-left: 80px;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::after {
  content: '';
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  background-color: #f5f5f5;
  border-radius: 50%;
  opacity: .2;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
}

.ripple:not(:active):after {
  -webkit-animation: ripple-effect 1s ease-out;
          animation: ripple-effect 1s ease-out;
}

.ripple:focus::after {
  visibility: visible;
}

.ripple-dark::after {
  background-color: #ddd;
}

.button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

button,
.button {
  outline: none;
  cursor: pointer;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

input, select {
  height: 44px;
  line-height: 44px;
}

.no-outline {
  outline: 0;
}

.pointer {
  cursor: pointer;
}

a.underline:after,
a:not(.no-underline):hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #bdbdbd;
}

.no-underline:hover:after {
  height: 0;
}

@media (hover: none) {
  a:not(.no-underline):after {
    display: none;
  }
}

[v-cloak],
.hidden {
  display: none;
}

.hidden-xs {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hidden-xs {
    display: inherit;
  }
}

@media only screen and (min-width: 768px) {
  .hidden-md {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .visible-xs {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@-webkit-keyframes images-lazy-loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes images-lazy-loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[lazy="loaded"] {
  -webkit-animation: images-lazy-loading;
          animation: images-lazy-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

@-webkit-keyframes ripple-effect {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes ripple-effect {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.fade-enter-active {
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.fade-leave-active {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-in-down-enter-active, .fade-in-up-enter-active {
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.fade-in-down-leave-active, .fade-in-up-leave-active {
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
}

.fade-in-down-enter, .fade-in-down-leave-to, .fade-in-up-enter, .fade-in-up-leave-to {
  opacity: 0;
}

.fade-in-down-enter, .fade-in-down-leave-to {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.fade-in-up-enter, .fade-in-up-leave-to {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
/*# sourceMappingURL=main.css.map */